<div class="d-flex justify-content-between align-items-end">
	<h4 class="mb-3">Born this month</h4>
	<a class="mb-3" href="/born-this-month">View all</a>
</div>
<div class="list-group">
	{% for celebrity in bornThisMonth %}
		<a href="/celebrity/{{ celebrity.slug }}" class="list-group-item">
			<img src="{{ asset("uploads/celebrity/small/thumbnail.jpeg") }}" data-src="{{ asset('uploads/celebrity/small/' ~ celebrity.picture) }}" class="mr-3 lazyload" alt="{{ celebrity.picture }}">
			<div class="item-content">
				<h6>{{ celebrity.fullName }}</h6>
				<span>{{ celebrity.castRoles | join(', ') }}</span>
			</div>
		</a>
	{% endfor %}
</div>