<div class="d-flex justify-content-between align-items-end">
	<h4 class="mb-3">In cinemas</h4>
	<a class="mb-3" href="/in-cinemas">View all</a>
</div>
<div class="list-group">
	{% for movie in newReleases %}
		<a href="/movie/{{ movie.slug }}" class="list-group-item">
			<img data-src="{{ asset('uploads/movies/small/' ~ movie.thumbnail) }}" src="{{ asset('uploads/movies/small/thumbnail.jpeg') }}" class="movie mr-3 lazyload" alt="{{ movie.thumbnail }}">
			<div class="item-content">
				<h6>{{ movie.title }}</h6>
				<span>in cinemas from {{ movie.premiere | date('d. m.') }}</span>
			</div>
		</a>
	{% endfor %}
</div>