<h4 class="mb-3">Newest user reviews</h4>
<div class="list-group list-group-large">
	{% for review in newestUserReviews %}
		{% set type = review.movieOrTvShow.type %}
		{% if type == "movie" %}
			{% set typeReadable = "Movie" %}
		{% else %}
			{% set type = "tv-show" %}
			{% set typeReadable = "TV Show" %}
		{% endif %}

		<a href="/{{ type }}/{{ review.movieOrTvShow.slug }}?highlightedReview={{ review.user.username }}" class="list-group-item">
			<img data-src="{{ asset('uploads/user/small/' ~ review.user.profilePicture) }}" src="{{ asset('uploads/user/small/thumbnail.jpeg') }}" class="lazyload user mr-3 link-in-link" style="width: 48px;" data-href="/user/{{ review.user.username }}" alt="{{ review.user.profilePicture }}">
			<div class="item-content">
				<h6 class="link-in-link" data-href="/user/{{ review.user.username }}">{{ review.user.username }}</h6>
				<span class="link-in-link" data-href="/{{ type }}/{{ review.movieOrTvShow.slug }}">{{ review.movieOrTvShow.title }} <span class="text-muted">({{ typeReadable }}) <span class="rating-dot {% if review.rating >= 9 %}great{% elseif review.rating >= 6 %}good{% elseif review.rating < 6 and review.rating is not null %}rating-average{% endif %}"></span></span>
			</div>
		</a>
	{% endfor %}
</div>