{% if isAtLeastModerator %}
	<a href="/admin/celebrities/edit/{{ celebrity.id }}">Edit</a>
{% endif %}
<div class="card b-0 shadow-1 radius-6">
	<div class="card-header d-flex align-items-center py-4 bg-white">
		<img class="card-img-top rounded-circle lazyload" style="max-width: 64px;"
		     data-src="{{ asset('uploads/celebrity/small/' ~ celebrity.picture) }}"
		     src="{{ asset('uploads/celebrity/small/thumbnail.jpeg') }}"
		     alt="{{ celebrity.picture }}">
		<div class="ml-3">
			<h5 class="card-title">{{ celebrity.fullName }}</h5>
			<h6 class="card-subtitle text-muted">{{ celebrity.slug }}</h6>
		</div>
	</div>
	<div class="card-body">
		{% if celebrity.birthday is not null %}
			<span class="text-muted font-size-14">Birthday: {{ celebrity.birthday | date('d. m. Y') }}</span>
		{% endif %}
		<p class="mb-0">
			{% if celebrity.bio is not null %}
				{{ celebrity.bio }}
			{% else %}
				<span class="text-muted">This celebrity has no bio</span>
			{% endif %}
		</p>
	</div>
</div>