<div class="row mt-5 justify-content-center">
	<div class="col-12 mb-3">
		<h4 class="mb-3">Most visited</h4>
		<div class="list-group list-group-numbered-large">
			{% for celebrity in mostVisited %}
				<a href="/celebrity/{{ celebrity.slug }}" class="list-group-item">
					<span class="item-number">
						<span>{{ loop.index }}</span>
					</span>
					<img data-src="{{ asset('uploads/celebrity/small/' ~ celebrity.picture) }}" src="{{ asset('uploads/celebrity/small/thumbnail.jpeg') }}" class="celebrity mr-3 lazyload" alt="{{ celebrity.picture }}">
					<div class="item-content">
						<h6>{{ celebrity.fullName }}</h6>
						<span>{{ celebrity.castRoles | join(', ') }}</span>
					</div>
				</a>
			{% endfor %}
		</div>
	</div>
</div>