<div class="row mt-5 mt-xl-6">
    <div class="col-12">
        <h4 class="mb-3">Recently added</h4>
        <div class="dragscroll-wrapper">
            <div class="dragscroll" style="overflow-x: scroll; white-space: nowrap;">
                {% for celebrity in recentlyAdded %}
                    <a href="/celebrity/{{ celebrity.slug }}" class="drag-and-scroll-item celebrity"
                       style="background-image: url({{ asset('uploads/celebrity/small/' ~ celebrity.picture) }})">
                        <span>{{ celebrity.fullName }}</span>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>