@import "../../../libs/bootstrap-4.2.1/scss/bootstrap"
@import "../../../libs/bootstrap-4.2.1/dist/css/bootstrap.min.css"
@import "../../../libs/bootstrap-select-1.13.0-dev/dist/css/bootstrap-select.min.css"
@import "../../../libs/jquery-ui-1.12.1/jquery-ui.min.css"
@import "../../../libs/datepicker-master/dist/datepicker.min.css"
@import "../../../libs/fancybox-master/dist/jquery.fancybox.min.css"

@font-face
	font-family: Rubik
	font-weight: 400
	src: url("../fonts/Rubik/Rubik-Regular.ttf")

@font-face
	font-family: Rubik
	font-weight: 500
	src: url("../fonts/Rubik/Rubik-Medium.ttf")

@font-face
	font-family: Rubik
	font-weight: 600
	src: url("../fonts/Rubik/Rubik-Bold.ttf")

*
	font-family: Rubik

.font-weight-medium
	font-weight: 500

.container
	max-width: 1440px

.main-wrapper
	min-height: 100vh

h5
	font-weight: 400

h6
	font-weight: 400

th.pl-2.pr-4, td.pl-2.pr-4
	.custom-control-input + label
		&:after
			left: 0
			top: 0.16rem

		&:before
			left: 0
			top: 0.16rem

		&:hover
			cursor: pointer

#menu
	z-index: 999

.alert
	border: none

	&.alert-primary
		background-color: #007bff
		color: #ffffff

	&.alert-danger
		background-color: #dc3545
		color: #ffffff

	button
		.fa-times
			position: relative
			bottom: 3px

		&:hover
			.fa-times
				color: #ffffff

.font-size-14
	font-size: 14px

.admin-menu
	border-right: 1px solid #d2d2d2
	height: 100vh

.rounded-8
	border-radius: 8px

.table-sm
	td, th
		padding-top: 9px
		padding-bottom: 6px

table
	th
		font-weight: 500

.selectpicker + button, .selectpicker-live-search + button
	background: white
	border-color: #ced4da

.cast-slide-heading
	font-size: 16px
	max-width: 100px

.cast-slide-subheading
	font-size: 14px

.hidden
	display: none

.dragscroll
	&::-webkit-scrollbar
		display: none

.dragscroll
	&:hover
		cursor: -webkit-grab
	&:active
		cursor: -webkit-grabbing !important

	.cast-slide
		pointer-events: none

.disable-pointer-events
	pointer-events: none

.chip
	display: inline-block
	padding: 4px 12px
	background-color: #E9E9E9
	font-size: 14px
	border-radius: 8px
	color: #6c757d

.movie-description, .tvshow-description
	overflow: hidden
	display: -webkit-box
	line-height: 1.6em
	-webkit-box-orient: vertical

.search-group
	.dropdown-menu
		max-height: calc(16px + (32px * 6))

		a.dropdown-item
			text-overflow: ellipsis
			overflow: hidden

			&.current-focus
				background-color: #007bff
				color: white

	&.search-group-expanded
		.dropdown-menu
			display: block

	&.search-group-expanded-important
		.dropdown-menu
			display: block

.ui-slider
	&:hover
		cursor: pointer

	height: 8px !important
	border: none !important
	border-radius: 4px !important
	background-color: #DDE1E5 !important

	.ui-slider-handle
		border: none !important
		border-radius: 50%
		background-color: #007bff !important
		outline: none
		width: 16px !important
		height: 16px !important
		top: -4px !important
		transition: background-color 150ms

		&:hover
			cursor: pointer

		&:focus
			border: 1px solid #fff !important
			box-shadow: 0 0 0 0.15rem rgba(0,123,255,.25)

		&:active
			background-color: #bfddfd !important

	.ui-slider-range
		background-color: #bfddfd

.homepage-recommendation
	text-decoration: none !important
	background-position: center
	background-size: cover
	position: relative
	overflow: hidden
	min-width: 160px
	height: 225px
	white-space: normal

	&::after
		content: ""
		position: absolute
		bottom: -1px
		left: 0
		height: 50%
		width: 100%
		background: rgb(0,0,0)
		background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 80%)
		z-index: 1

	span
		color: white
		z-index: 2
		font-size: 18px

.text-gray
	color: #707070

.list-group-item
	&.active
		.text-muted
			color: white !important

.user-review-wrapper
	width: 50%

@media (max-width: 575px)
	.homepage-recommendation
		height: 172px
		min-width: 120px

	.form-line
		.range-input
			min-width: 72px

	.tv-show-card, .movie-card
		flex-direction: column
		align-items: center

		.card-image
			width: 160px !important
			min-width: 160px !important

		.card-content
			width: 100%

			.card-title
				text-align: center

			.premiere
				text-align: center

	.user-review-wrapper
		width: 100%

.footer-icon
	width: 28px !important
	margin-right: 8px
	display: inline-block
	text-align: center

.data-count
	font-size: 36px

.checkedRowsHolder
	position: fixed
	bottom: 64px
	right: 96px
	background-color: white
	border-radius: 4px
	box-shadow: 0px 1px 3px rgba(0,0,0,.2)
	padding: 16px 24px

#sortable
	.ui-state-default
		margin-bottom: 4px
		border-radius: 4px
		border: 1px solid #f5f5f5
		background-color: white
		padding: 8px 12px

		&:hover
			cursor: grab
			
		&:active
			cursor: grabbing

table
	.custom-control
		display: table-cell