{% extends "_base.html.twig" %}

{% block title %}Born this month - Telecule{% endblock %}

{% block body %}
	<div class="row mt-4 mt-lg-5">
		<div class="col-12">
			<h4>Born this month</h4>
			<p class="mb-3 text-muted">{{ count }} celebrities in our database were born this month</p>

			<div class="list-group">
				{% for celebrity in bornThisMonth %}
					<a href="/celebrity/{{ celebrity.slug }}" class="list-group-item">
						<img data-src="{{ asset('uploads/celebrity/small/' ~ celebrity.picture) }}" src="{{ asset('uploads/celebrity/small/thumbnail.jpeg') }}" class="mr-3 lazyload" alt="{{ celebrity.picture }}">
						<div class="item-content">
							<h6>{{ celebrity.fullName }}</h6>
							<span>{{ celebrity.castRoles | join(', ') }}</span>
						</div>
					</a>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}