{% extends '_base.html.twig' %}

{% block title %}Celebrities - Telecule{% endblock %}

{% block body %}
	{% include "celebrities/parts/search.html.twig" %}
	{% include "celebrities/parts/recently_added.html.twig" %}
	{% include "celebrities/parts/most_visited.html.twig" %}
{% endblock body %}