{% extends '_base.html.twig' %}

{% block title %}
	{% if celebrity is not null %}
		{{ celebrity.fullName }} - Telecule
	{% else %}
		Celebrity not found - Telecule
	{% endif %}
{% endblock %}

{% block body %}
	<div class="row justify-content-center mt-4 mt-lg-5">
		<div class="col-12 col-sm-10 col-md-8 col-lg-6">
			{% if celebrity is not null %}
				{% include "celebrities/parts/info.html.twig" %}
				<div class="appearances mt-5">
					<h4 class="{{ celebrity.moviesAndTvShows.count < 1 ? "mb-2" : "mb-3" }}">Appearances</h4>
					{% if celebrity.moviesAndTvShows.count < 1 %}
						<h6 class="text-muted">This celebrity is not assigned to any movies</h6>
					{% else %}
						<div class="apperances-wrapper">
							{% for appearance in celebrity.moviesAndTvShows | slice(0, 5) %}
								{% set urlType = "movie" %}
								{% set fileUrlType = "movies" %}

								{% if appearance.movieOrTvShow.type == "tv_show" %}
									{% set urlType = "tv-show" %}
									{% set fileUrlType = "tvshows" %}
								{% endif %}

								{% set genres = appearance.movieOrTvShow.genres %}

								<a class="card search-result-card mb-2"
								   href="/{{ urlType }}/{{ appearance.movieOrTvShow.slug }}">
									<div class="card-image">
										<img
										src="{{ asset('uploads/' ~ fileUrlType ~ '/small/thumbnail.jpeg') }}"
										data-src="{{ asset('uploads/' ~ fileUrlType ~ '/small/' ~ appearance.movieOrTvShow.thumbnail) }}"
										alt="{{ appearance.movieOrTvShow.thumbnail }}" class="lazyload">
									</div>
									<div class="card-content">
										<h5 class="text-primary mb-1">{{ appearance.movieOrTvShow.title }}</h5>
										<span class="text-muted">
											{% if appearance.movieOrTvShow.premiere is null %}
												No premiere
											{% else %}
												{{ appearance.movieOrTvShow.premiere | date("d. m. Y") }}
											{% endif %}
										</span>

										<div class="genres mt-2 d-none d-lg-block">
											{% for genre in genres %}
												<div class="chip">{{ genre.name }}</div>
											{% endfor %}
										</div>
									</div>
								</a>
							{% endfor %}
						</div>
					{% endif %}
					{% if celebrity.moviesAndTvShows.count > 5 %}
						<div class="text-center mt-3">
							<a href="/celebrity/{{ celebrity.slug }}/load-more" class="text-center load-more load-more-celebrity"><i
								class="fas fa-plus text-small"></i> Load more</a>
						</div>
					{% endif %}
				</div>
			{% else %}
				<div class="alert alert-danger">Celebrity {{ requestedCelebrity }} was not found</div>
			{% endif %}
		</div>
	</div>
{% endblock %}