{% extends '_base.html.twig' %}

{% block title %}Celebrities - Telecule{% endblock %}

{% block body %}
	{% include "celebrities/parts/search.html.twig" %}

	<div class="row mt-5">
		<div class="col-12">
			<h4>Celebrity search results {% if searchedString != "" %}for "{{ searchedString }}"{% endif %}</h4>
			<h6 class="text-muted mb-3">
				Found {{ returnedResults }} {{ returnedResults == 1 ? "result" : "results" }}</h6>
		</div>
		{% for celebrity in results %}
			<div class="col-12 col-lg-6 col-xl-4">
				<a class="card search-result-card celebrity" href="/celebrity/{{ celebrity.slug }}">
					<div class="card-image">
						<img data-src="{{ asset('uploads/celebrity/small/' ~ celebrity.picture) }}" src="{{ asset('uploads/celebrity/small/thumbnail.jpeg') }}"
						     alt="{{ celebrity.picture }}" class="lazyload">
					</div>
					<div class="card-content">
						<h5 class="text-primary mb-1">{{ celebrity.fullName }}</h5>
						<span class="text-muted">{{ celebrity.birthday | date("d. m. Y") }}</span>
						<div class="cast-roles mt-0">
							<span class="text-muted">{{ celebrity.castRoles | join(', ') }}</span>
						</div>
					</div>
				</a>
			</div>
		{% endfor %}
	</div>
{% endblock body %}