<div class="row mt-5 mt-xl-6">
    <div class="col-12">
        <h4 class="mb-3">Recently added</h4>
        <div class="dragscroll-wrapper">
            <div class="dragscroll" style="overflow-x: scroll; white-space: nowrap;">
                {% for movie in recentlyAdded %}
                    <a href="/movie/{{ movie.slug }}" class="drag-and-scroll-item rated"
                       style="background-image: url({{ asset('uploads/movies/small/' ~ movie.thumbnail) }})">
                        <span>{{ movie.title }}</span>
                        <div
                                class="rating-line {% if movie.rating >= 9 %}great{% elseif movie.rating >= 6 %}good{% elseif movie.rating < 6 and movie.rating is not null %}average{% endif %}"></div>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>