<div class="row justify-content-center mt-4 mt-xl-6">
	<div class="col-12 col-md-8 col-xl-5">
		<h4 class="mb-3">Movie search</h4>
		{{ form_start(form) }}
		<div class="form-group with-search-icon">
			<i class="fas fa-search"></i>
			{{ form_errors(form.title) }}
			{{ form_widget(form.title) }}
		</div>
		{{ form_row(form.advancedSearch) }}
		<div class="form-hideable mt-4 pt-2" style="display: none;">
			<div class="form-group">
				<label>Year of release</label>
				<div class="form-line d-flex flex-row align-items-center mb-2">
					<div style="flex: 1" class="range-input"
					     data-input="1">{{ form_widget(form.lowestPremiereDate) }}</div>
					<div class="range-slider mx-4" style="flex: 5;"></div>
					<div style="flex: 1" class="range-input"
					     data-input="2">{{ form_widget(form.highestPremiereDate) }}</div>
				</div>
				{{ form_row(form.includeWithoutPremiere) }}
			</div>
			<div class="form-group">
				<label>Rating</label>
				<div class="form-line d-flex flex-row align-items-center mb-2">
					<div style="flex: 1" class="range-input" data-input="1">{{ form_widget(form.ratingLow) }}</div>
					<div class="range-slider mx-4" style="flex: 5;"></div>
					<div style="flex: 1" class="range-input" data-input="2">{{ form_widget(form.ratingHigh) }}</div>
				</div>
				{{ form_row(form.includeWithoutRating) }}
			</div>
			<div class="form-group">
				<label>Length (minutes)</label>
				<div class="form-line d-flex flex-row align-items-center mb-2">
					<div style="flex: 1" class="range-input" data-input="1">{{ form_widget(form.minLength) }}</div>
					<div class="range-slider mx-4" style="flex: 5;"></div>
					<div style="flex: 1" class="range-input" data-input="2">{{ form_widget(form.maxLength) }}</div>
				</div>
				{{ form_row(form.includeWithoutLength) }}
			</div>
			<div class="form-group">
				{{ form_row(form.genres ) }}
			</div>
		</div>
		{{ form_end(form) }}
	</div>
</div>