<div class="row mt-5 justify-content-center">
	<div class="col-12 mb-3">
		<div class="d-flex align-items-end justify-content-between">
			<h4 class="mb-3">Top 10 movies</h4>
			<a href="/movies/leaderboard" class="mb-3">View the full leaderboard ({{ count < 100 ? count : '100' }} movies)</a>
		</div>
		<div class="list-group list-group-numbered-large">
			{% for movie in bestRatedMovies %}
				<a href="/movie/{{ movie.slug }}" class="list-group-item">
					<span class="item-number">
						<span>{{ loop.index }}</span>
					</span>
					<img data-src="{{ asset('uploads/movies/small/' ~ movie.thumbnail) }}" src="{{ asset('uploads/movies/small/thumbnail.jpeg') }}" class="lazyload movie mr-3" alt="{{ movie.thumbnail }}">
					<div class="item-content">
						<h6>{{ movie.title }}</h6>
						<span>{{ movie.premiere | date('d. m. Y') }}</span>
					</div>
					<div class="item-info">
						{% for genre in movie.genres %}
							<div class="chip d-none d-lg-inline-block">{{ genre.name }}</div>
						{% endfor %}
						{% if movie.rating is not null %}
							<span
							class="ml-0 ml-lg-4 {% if movie.rating >= 9 %}rating-great{% elseif movie.rating >= 6 %}rating-good{% elseif movie.rating < 6 and movie.rating is not null %}rating-average{% endif %}">
								<i class="fas fa-star rating-icon"></i>
								{{ movie.rating }}
							</span>
						{% endif %}
					</div>
				</a>
			{% endfor %}
		</div>
	</div>
</div>