{% extends 'admin.base.html.twig' %}

{% block pageTitle %}
	<h5 class="mb-0">Users <span class="text-muted">({{ count }})</span></h5>
{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-12">
			{% if users is defined %}
				<table class="table table-borderless table-hover table-sm">
					<thead>
					<tr>
						{% if users|length > 1 %}
							<th style="max-width: 39px;" class="pl-2 pr-4">
								<input type="checkbox" class="custom-control-input" id="customCheckAll"
									   data-url="/admin/remove-multiple/users">
								<label for="customCheckAll"></label>
							</th>
						{% endif %}
						<th scope="col" style="width: 42px;">
							<a data-sortable="id">ID</a>
						</th>
						<th scope="col">
							<a data-sortable="fullName">Full name</a>
						</th>
						<th scope="col">
							<a data-sortable="emailAddress">Email address</a>
						</th>
						<th scope="col">
							<a data-sortable="bio">Bio</a>
						</th>
						<th scope="col">
							<a data-sortable="role">Role</a>
						</th>
						{% if isAtLeastSuperadmin %}
							<th scope="col" class="text-right">Actions</th>
						{% endif %}
					</tr>
					</thead>
					<tbody>
					{% set _user = user %}
					{% for user in users %}
						<tr class="font-size-14">
							<td style="max-width: 32px;" class="pl-2 pr-4">
								<input type="checkbox" class="custom-control-input" id="customCheck{{ loop.index }}"
									   data-id="{{ user.id }}">
								<label for="customCheck{{ loop.index }}"></label>
							</td>
							<td scope="row">{{ user.id }}</td>
							<td><a>{{ user.fullName }}</a></td>
							<td>{{ user.emailAddress }}</td>
							<td>{{ user.bio | length > 80 ? user.bio | slice(0, 80) ~ '...' : user.bio }}</td>
							<td>{{ user.role.name }}</td>
							{% if isAtLeastSuperadmin %}
								<td class="text-right">
									{% if _user.id != user.id %}
										<a href="/admin/user/{{ user.id }}/assign-role"
										   class="btn btn-outline-secondary btn-sm py-0">
                                            <i class="fas fa-address-card"></i> Assign role
                                        </a>
										<a href="/admin/user/edit/{{ user.id }}"
										   class="btn btn-outline-primary btn-sm py-0">
                                            <i class="fas fa-edit"></i> Edit</a>
										<a href="/admin/user/delete/{{ user.id }}"
										   class="btn btn-outline-danger btn-sm py-0">
                                            <i class="fas fa-trash-alt"></i> Delete</a>
									{% else %}
										<span class="text-muted">You can't edit yourself</span>
									{% endif %}
								</td>
							{% endif %}
						</tr>
					{% endfor %}
					</tbody>
				</table>
			{% endif %}

			{% include 'pagination.html.twig' %}
		</div>
	</div>
{% endblock %}