<div class="container-fluid footer mt-5 mt-xl-6">
	<div class="container">
		<div class="row">
			<div class="col-12 col-lg-4">
				<h5>Telecule</h5>
				<a class="mb-0">Telecule is a web database of movies, TV shows and celebrities. It is powered by <a href="https://omdbapi.com/" target="_blank" rel="noreferrer">OMDb</a>, web service
					for obtaining movie information. The whole website is built on
					<a href="https://symfony.com/" target="_blank" rel="noreferrer">Symfony</a>,
					<a href="https://getbootstrap.com/" target="_blank" rel="noreferrer">Bootstrap 4</a> and
					<a href="https://jquery.com/" target="_blank" rel="noreferrer">jQuery</a>. Information about used libraries and data sources can be found <a href="/licenses">here</a>.</p>
			</div>
			<div class="col-12 col-sm-6 col-md-4 col-lg-2 offset-lg-1 mt-4 mt-lg-0">
				<h5>Sitemap</h5>
				<nav class="flex-column">
					<a class="nav-link" href="/">Home</a>
					<a class="nav-link" href="/movies">Movies</a>
					<a class="nav-link" href="/tv-shows">TV Shows</a>
					<a class="nav-link" href="/celebrities">Celebrities</a>
				</nav>
			</div>
			<div class="col-12 col-sm-6 col-md-4 col-lg-2 mt-4 mt-lg-0">
				<h5>Follow</h5>
				<nav class="flex-column">
					<a class="nav-link" href="https://www.facebook.com/spse.cz/" target="_blank" rel="noreferrer"><i class="fab fa-facebook"></i>Facebook</a>
					<a class="nav-link" href="https://www.instagram.com/explore/locations/609148217/spse-a-vos-pardubice/" target="_blank" rel="noreferrer"><i class="fab fa-instagram"></i>Instagram</a>
					<a class="nav-link" href="https://twitter.com/search?f=tweets&q=%23spsepardubice" target="_blank" rel="noreferrer"><i class="fab fa-twitter"></i>Twitter</a>
					<a class="nav-link" href="https://www.youtube.com/channel/UCoHN_5zWRyX0izwCz7ZbgnA/videos" target="_blank" rel="noreferrer"><i class="fab fa-youtube"></i>YouTube</a>
				</nav>
			</div>
			<div class="col-12 col-md-4 col-lg-3 mt-4 mt-lg-0">
				<h5>Contact</h5>
				<nav class="flex-column">
					<a class="nav-link" href="mailto:spse@spse.cz"><i class="fas fa-envelope"></i>spse@spse.cz</a>
					<a class="nav-link" href="tel:+420466614788"><i class="fas fa-phone"></i>+420 466 614 788</a>
					<a class="nav-link" href="https://goo.gl/maps/HpyxnY2bvLA2" target="_blank" rel="noreferrer"><i class="fas fa-map-marked"></i>Karla IV. 13, Pardubice 530 02</a>
				</nav>
			</div>
		</div>
		<div class="row">
			<div class="col-12 text-center">
				<span>&copy; 2018 Vojtěch Morávek</span>
			</div>
		</div>
	</div>
</div>