<div class="container-fluid bg-dark page-menu px-0">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<nav class="navbar navbar-expand-lg navbar-dark px-0 menu">
					{# Brand #}
					<a class="navbar-brand" href="/">Telecule</a>

					{# Mobile menu button #}
					<div class="controls d-flex align-items-center">
						<div class="quick-search-button mr-1 d-flex d-lg-none">
							<i class="fas fa-search" style="color: #fff;"></i>
						</div>
						<button class="navbar-toggler" type="button" data-toggle="collapse"
						        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
						        aria-expanded="false" aria-label="Toggle navigation" style="width: 56px; height: 40px;">
							<i class="fas fa-bars"></i>
						</button>
					</div>

					{# Links and searchbar #}
					<div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
						{# Links #}
						<ul class="navbar-nav">
							<a class="nav-link {{ route == "homepage" ? "active" }}" href="/">Home</a>
							<a class="nav-link {{ route == "movies" ? "active" }}" href="/movies">Movies</a>
							<a class="nav-link {{ route == "tvshows" ? "active" }}" href="/tv-shows">TV shows</a>
							<a class="nav-link {{ route == "celebrities" ? "active" }}"
							   href="/celebrities">Celebrities</a>

							{# Different link if user is logged in #}
							{% if loggedIn %}
								<li class="menu-dropdown-wrapper dropdown">
									<a
									class="nav-link ml-lg-4 ml-xl-4 dropdown-toggle {{ route == "profile" ? "active" }}"
									id="user-dropdown" data-toggle="dropdown" href="#">{{ user.fullName }}</a>

									{# Logged user dropdown #}
									<div class="dropdown-menu" aria-labelledby="user-dropdown">
										<a class="dropdown-item" href="/user/{{ user.username }}">My profile</a>

										{# If admin/superadmin -> show link to admin panel#}
										{% if user.roleId == 2 or user.roleId == 3 or user.roleId == 5 %}
											<a class="dropdown-item" href="/admin">Admin</a>
										{% endif %}

										<div class="dropdown-divider"></div>
										<a class="dropdown-item text-danger" href="/logout">Log out</a>
									</div>
								</li>
							{% else %}
								<a class="nav-link ml-lg-4 ml-xl-4 {{ route == "login" ? "active" }}" href="/login">Log
									in</a>
							{% endif %}

						</ul>

						{# Searchbar #}
						<div class="form-inline my-2 my-lg-0 ml-lg-3 ml-xl-3 quick-search search-group">
							<div class="quick-search-button-close">
								<i class="fas fa-chevron-left"></i>
							</div>

							{# Searchbar icon #}
							<i class="fas fa-search quick-search-icon"></i>

							{# Searchbar field #}
							<input class="form-control quick-search-field rounded-1" type="text"
							       placeholder="Search" name="search" data-url="/quick-search">

							{# Searchbar results #}
							<div class="dropdown-menu">
								<h6 class="dropdown-header">Type to search...</h6>
							</div>
						</div>
					</div>
				</nav>
			</div>
		</div>
	</div>
</div>