{% for label, messages in flashes %}
	{% for message in messages %}
		<div class="row justify-content-center">
			<div class="col-12 col-sm-5">
				<div class="alert alert-{{ label }} alert-dismissible fade show mt-5">
					{{ message }}
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true"><i class="fas fa-times font-size-14"></i></span>
					</button>
				</div>
			</div>
		</div>
	{% endfor %}
{% endfor %}