{% extends 'admin.base.html.twig' %}

{% block pageTitle %}
	<h5 class="mb-0">Cast roles <span class="text-muted">({{ count }})</span></h5>
{% endblock %}

{% block pageAction %}
	<a href="/admin/cast-role/add" class="btn btn-primary">
		<i class="fas fa-plus font-size-14 mr-2"></i>
		<span>New cast role</span>
	</a>
{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-12">
			{% if castRoles is defined %}
				<table class="table table-borderless table-hover table-sm">
					<thead>
					<tr>
						<th scope="col" style="width: 42px;">
							<a data-sortable="id">ID</a>
						</th>
						<th scope="col">
							<a data-sortable="name">Name</a>
						</th>
						<th scope="col" class="text-right">Actions</th>
					</tr>
					</thead>
					<tbody>
					{% if castRoles is empty %}
						<tr class="font-size-14">
							<td colspan="3" class="text-center">No cast roles found</td>
						</tr>
					{% else %}
						{% for castRole in castRoles %}
							<tr class="font-size-14">
								<td scope="row">{{ castRole.id }}</td>
								<td><a href="/admin/cast-roles/edit/{{ castRole.id }}">{{ castRole.name }}</a></td>
								<td class="text-right">
									<a href="/admin/cast-roles/edit/{{ castRole.id }}"
									   class="btn btn-outline-primary btn-sm py-0"> <i
										class="fas fa-edit"></i> Edit</a>
									<a href="/admin/cast-roles/delete/{{ castRole.id }}"
									   class="btn btn-outline-danger btn-sm py-0"><i
										class="fas fa-trash-alt"></i> Delete</a>
								</td>
							</tr>
						{% endfor %}
					{% endif %}
					</tbody>
				</table>
			{% endif %}
			{% include 'pagination.html.twig' %}
		</div>
	</div>
{% endblock %}