{% extends 'admin.base.html.twig' %}

{% block pageTitle %}
	<div class="d-flex align-items-center">
		<h5 class="mb-0">Movies <span class="text-muted">({{ count }})</span></h5>
		<div class="form-group mb-0 ml-4 search-group" style="position: relative;">
			<input type="text" name="search" class="form-control" id="dropdownSearch" placeholder="Type to search..." style="min-width: 320px;" data-url="/admin/movies/search" data-url-target="/admin/movies/edit">
			<div class="dropdown-menu w-100">
				<h6 class="dropdown-header">Type to search...</h6>
			</div>
		</div>
	</div>
{% endblock %}

{% block pageAction %}
	<a href="/admin/movie/add" class="btn btn-primary">
		<i class="fas fa-plus font-size-14 mr-2"></i>
		<span>New movie</span>
	</a>
{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-12">
			<table class="table table-borderless table-sm table-hover">
				<thead>

				<tr>
					{% if movies|length >= 1 %}
						<th style="max-width: 39px;" class="pl-2 pr-4">
							<input type="checkbox" class="custom-control-input" id="customCheckAll"
								   data-url="/admin/remove-multiple/movies-or-tv-shows">
							<label for="customCheckAll"></label>
						</th>
					{% endif %}
					<th scope="col" style="width: 42px;">
						<a data-sortable="id">ID</a>
					</th>
					<th scope="col">
						<a data-sortable="title">Title</a>
					</th>
					<th scope="col">
						<a data-sortable="premiere">Premiere</a>
					</th>
					<th scope="col">
						<a data-sortable="length">Length</a>
					</th>
					<th scope="col">
						<a data-sortable="shortDescription">Short description</a>
					</th>
					<th scope="col">Genres</th>
					<th scope="col" class="text-right">
						<a data-sortable="rating">Rating</a>
					</th>
					<th scope="col" class="text-right">
						<a data-sortable="dateCreated">Date created</a>
					</th>
					<th scope="col" class="text-right">Actions</th>
				</tr>
				</thead>
				<tbody>
				{% if movies is empty %}
					<tr>
						<td colspan="7" class="text-center">No movies found</td>
					</tr>
				{% endif %}
				{% for movie in movies %}
					<tr class="font-size-14">
						<td style="max-width: 32px;" class="pl-2 pr-4">
							<input type="checkbox" class="custom-control-input" id="customCheck{{ loop.index }}"
								   data-id="{{ movie.id }}">
							<label for="customCheck{{ loop.index }}"></label>
						</td>
						<th scope="row">{{ movie.id }}</th>
						<td>
							<a href="/admin/movies/edit/{{ movie.id }}">
								{{ movie.title }}
								{% if movie.homepageRecommendation is not null %}
									<i class="fas fa-star text-warning" style="position: relative; bottom: 1px;"></i>
								{% endif %}
							</a>
						</td>
						<td>
							{% if movie.premiere is not null %}
								{{ movie.premiere | date('d. m. Y') }}
							{% else %}
								<span class="text-muted">-</span>
							{% endif %}
						</td>
						<td>
							{% if movie.length is not null %}
								{{ movie.length ~ 'm' }}
							{% else %}
								<span class="text-muted">-</span>
							{% endif %}
						</td>
						<td>
							{{ movie.shortDescription | length > 50 ? movie.shortDescription | slice(0, 50) ~ '...' : movie.shortDescription }}
						</td>
						<td>
							{{ movie.genres | join(', ') }}
						</td>
						<td class="text-right">{{ movie.rating }}</td>
						<td class="text-right">{{ movie.dateCreated | date('d. m. Y') }}</td>
						<td class="text-right">
							<a href="/admin/movies/edit/{{ movie.id }}" class="btn btn-outline-primary btn-sm py-0">
								<i class="fas fa-edit"></i> Edit
							</a>
							<a href="/admin/movies/delete/{{ movie.id }}" class="btn btn-outline-danger btn-sm py-0">
								<i class="fas fa-trash-alt"></i> Delete
							</a>
						</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
			{% include 'pagination.html.twig' %}
		</div>
	</div>
{% endblock %}