@import "../../../libs/bootstrap-4.2.1/scss/bootstrap"
@import "../../../libs/bootstrap-4.2.1/dist/css/bootstrap.min.css"
@import "../../../libs/bootstrap-select-1.13.0-dev/dist/css/bootstrap-select.min.css"
@import "../../../libs/jquery-ui-1.12.1/jquery-ui.min.css"
@import "../../../libs/datepicker-master/dist/datepicker.min.css"
@import "../../../libs/fancybox-master/dist/jquery.fancybox.min.css"

@font-face
	font-family: Rubik
	font-weight: 400
	src: url("../fonts/Rubik/Rubik-Regular.ttf")

@font-face
	font-family: Rubik
	font-weight: 500
	src: url("../fonts/Rubik/Rubik-Medium.ttf")

@font-face
	font-family: Rubik
	font-weight: 600
	src: url("../fonts/Rubik/Rubik-Bold.ttf")

p, h1, h2, h3, h4, h5, h6, li, span, button, input, textarea, div, th, td
	font-family: Rubik
	font-weight: 400
	color: #3c3c3c

h1, h2, h3, h4, th
	font-weight: 500

.alert.alert-danger.d-block
	.form-error-message
		color: $white !important

.rating-icon
	font-size: 14px
	position: relative
	bottom: 2px

.rating-great
	color: $yellow

.rating-good
	color: $blue

.rating-average
	color: $gray-800

.page-menu
	position: fixed
	z-index: 999

.container
	max-width: 1440px

	&.page-content
		padding-top: 56px
		min-height: calc(100vh - 3rem)

.quick-search
	position: relative

	.quick-search-field
		background-color: $gray-900 !important
		border: none
		min-width: 320px
		color: rgba(255, 255, 255, .5)
		padding-left: 40px

		&::placeholder
			color: rgba(255, 255, 255, .5)

		&:focus, &.active
			box-shadow: none

	.quick-search-icon
		position: absolute
		font-size: 16px
		color: rgba(255, 255, 255, .5)
		left: 24px
		pointer-events: none

	.dropdown-menu
		margin: 0 12px
		width: calc(100% - 12px) !important

.rounded-1
	border-radius: 0.25rem

.rounded-2
	border-radius: 0.5rem

.rounded-3
	border-radius: 1rem

.rounded-4
	border-radius: 1.5rem

.rounded-5
	border-radius: 3rem

.mt-6
	margin-top: 6rem

.mb-6
	margin-bottom: 6rem

.table-rounded-wrapper
	border-radius: 2px
	border: 1px solid #f5f5f5

	.table
		margin-bottom: 0

.table-custom
	td, th, thead th, tr
		border: none

	td
		white-space: nowrap

	tbody tr:nth-child(odd)
		background-color: #f5f5f5

	tbody tr:hover
		background-color: rgba(0, 0, 0, 0.075)

.table-note
	font-size: 14px
	color: $gray-600
	display: inline-block
	margin-top: 10px

.chip
	display: inline-block
	padding: 4px 12px
	background-color: #E9E9E9
	font-size: 14px
	border-radius: 8px
	color: $gray-600

.rating-dot
	&::before
		content: ""
		display: inline-block
		width: 8px
		height: 8px
		border-radius: 50%
		margin-right: 8px
		position: relative
		bottom: 1px
		left: 3px
		background-color: $black

	&.great::before
		background-color: $yellow

	&.good::before
		background-color: $blue

	&.average::before
		background-color: $gray-800

.list-group-header
	display: flex
	justify-content: space-between
	align-items: flex-end

	h1, h2, h3, h4, h5, h6
		margin: 0

.list-group
	&.list-group-large
		.list-group-item
			height: 92px

	.list-group-item
		border: 1px solid #f5f5f5
		display: flex
		align-items: center

		img, img.celebrity
			height: 48px
			width: 48px
			min-height: 48px
			min-width: 48px
			border-radius: 4px

			&.movie, &.tv-show
				width: 34px
				min-width: 34px

			&.user
				border-radius: 50%

		.item-content
			display: flex
			justify-content: center
			flex-direction: column
			align-items: flex-start

			h6
				margin-bottom: 0
				color: $blue

			span
				font-size: 14px
				color: $gray-600

		.item-info
			margin-left: auto

		&:hover
			.item-content
				h6
					color: #0056b3

	&.list-group-numbered, &.list-group-numbered-large
		.list-group-item
			padding: 0 20px 0 0

			&:nth-child(1)
				.item-number
					span
						background-color: $yellow
						color: $white

			&:nth-child(2)
				.item-number
					span
						background-color: #AFAFAF
						color: $white

			&:nth-child(3)
				.item-number
					span
						background-color: #DB8E53
						color: $white

			.item-number
				display: inline-block
				background-color: #fcfcfc
				border-right: 1px solid #f5f5f5
				height: 100%
				padding: .75rem
				width: 48px
				text-align: center
				margin-right: 20px
				position: relative

				span
					display: flex
					align-items: center
					justify-content: center
					width: 30px
					height: 30px
					border-radius: 50%

	&.list-group-numbered-large
		.list-group-item
			.item-number
				padding: 1.5rem
				width: 74px

.selectpicker + button
	background-color: transparent
	border-color: #ced4da

	& + .dropdown-menu
		a.dropdown-item
			&:active span
				color: $white

.carousel
	border-radius: 4px
	overflow: hidden
	position: relative

	&::after
		content: ""
		position: absolute
		width: 100%
		height: 40%
		left: 50%
		bottom: 0
		transform: translateX(-50%)
		background: black
		background: linear-gradient(0deg, black 0%, rgba(0, 0, 0, 0) 80%)
		z-index: 1

	.carousel-item
		transition: 400ms ease-in-out
		height: 476px

		img
			height: 100%
			width: 100%
			object-fit: cover

	.carousel-caption
		h4
			color: #fff
			font-weight: 400

.dragscroll-wrapper
	position: relative

.drag-and-scroll, .dragscroll
	display: flex
	white-space: nowrap
	align-items: start
	overflow-x: scroll

	&::-webkit-scrollbar
		display: none

	&:hover
		cursor: -webkit-grab

	&:active
		cursor: -webkit-grabbing !important

	.arrow
		z-index: 5
		position: absolute
		height: 32px
		width: 32px
		display: flex
		align-items: center
		justify-content: center
		background-color: $white
		color: $gray-500
		border-radius: 50%
		top: 50%
		transform: translate(0, -50%)
		box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4)
		transition: 200ms

		&.prev
			left: 8px

		&.next
			right: 8px

		&:hover
			cursor: pointer
			box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5)
			color: $blue

		&.hidden
			opacity: 0
			pointer-events: none

	.drag-and-scroll-item
		display: flex
		height: 225px
		min-width: 160px
		background-size: cover
		background-position: center
		background-repeat: no-repeat
		position: relative
		overflow: hidden
		border-radius: 4px
		margin-right: 12px
		white-space: normal

		&.celebrity
			height: 160px

		&:after
			content: ""
			position: absolute
			bottom: -1px
			left: 0
			height: 65%
			width: 100%
			background: black
			background: linear-gradient(0deg, black 0%, rgba(0, 0, 0, 0) 80%)
			z-index: 1

		span
			position: absolute
			bottom: 10px
			left: 0
			color: #fff
			font-size: 18px
			z-index: 2
			padding: 0 10px

		&.rated
			span
				bottom: 18px

.rating-line
	position: absolute
	left: 0
	bottom: 0
	width: 100%
	height: 8px
	background-color: $gray-600
	z-index: 2

	&.great
		background-color: $yellow

	&.good
		background-color: $blue

	&.average
		background-color: $gray-800

.genres
	max-height: 29px
	overflow-y: hidden

.footer
	background-color: #F5F5F5

	.row:first-child
		padding-top: 32px
		padding-bottom: 48px

		h5
			font-weight: 500
			margin-bottom: 16px

		.nav-link
			padding: 0 0 8px 0

			&:last-child
				padding: 0

		svg
			width: 16px
			margin-right: 12px

	.row:last-child
		padding-bottom: 20px

.search-group
	.dropdown-menu
		max-height: calc(16px + (32px * 6))

		a.dropdown-item
			text-overflow: ellipsis
			overflow: hidden

			&.current-focus
				background-color: #007bff
				color: $white

				span
					color: $white !important

	&.search-group-expanded
		.dropdown-menu
			display: block

	&.search-group-expanded-important
		.dropdown-menu
			display: block

.form-error-message
	color: #dc3545

.ui-slider
	&:hover
		cursor: pointer

	height: 8px !important
	border: none !important
	border-radius: 4px !important
	background-color: #DDE1E5 !important

	.ui-slider-handle
		border: none !important
		border-radius: 50%
		background-color: #007bff !important
		outline: none
		width: 16px !important
		height: 16px !important
		top: -4px !important
		transition: background-color 150ms

		&:hover
			cursor: pointer

		&:focus
			border: 1px solid #fff !important
			box-shadow: 0 0 0 0.15rem rgba(0, 123, 255, .25)

		&:active
			background-color: #bfddfd !important

	.ui-slider-range
		background-color: #bfddfd

.search-result-card
	border-radius: 4px
	overflow: hidden
	border-color: #F5F5F5
	display: flex
	flex-direction: row
	max-height: 140px
	overflow: hidden
	margin-bottom: 30px
	text-decoration: none !important

	&.celebrity
		max-height: 100px

		img
			height: 100px !important

	&:hover
		.card-content
			h5
				text-decoration: underline

	.card-image
		position: relative
		border-radius: 4px
		overflow: hidden
		min-width: 100px

		img
			height: 140px

	.card-content
		display: flex
		flex-direction: column
		align-items: flex-start
		padding: 16px 20px 16px 16px

		h5
			font-size: 18px

		span.text-muted
			font-size: 14px

.with-search-icon
	position: relative

	input
		padding-left: 40px

	svg
		position: absolute
		left: 12px
		pointer-events: none
		bottom: 11px

.cast-slide
	line-height: 1.2
	white-space: normal
	max-width: 96px

	.cast-slide-heading
		font-size: 16px
		display: block
		color: $blue
		margin-top: 4px

	.cast-slide-subheading
		font-size: 14px
		display: block
		color: $gray-600
		margin-top: 4px

.alert
	border: none

	&.alert-primary
		background-color: #007bff
		color: #ffffff

	&.alert-danger
		background-color: #dc3545
		color: #ffffff

	button
		.fa-times
			position: relative
			bottom: 0px
			color: $white

		&:hover
			.fa-times
				color: #ffffff

.text-small
	font-size: 14px

.link-in-link
	&:hover
		cursor: pointer
		text-decoration: underline

.four-o-four
	font-size: 128px
	color: $red

@include media-breakpoint-only(md)
	.carousel
		.carousel-item
			height: 340px

@include media-breakpoint-down(sm)
	.carousel
		.carousel-item
			height: 300px

	.drag-and-scroll, .dragscroll
		.drag-and-scroll-item
			height: 196px
			min-width: 140px

			span
				font-size: 16px

			&.celebrity
				height: 140px

	.list-group
		.list-group-item
			.item-info
				min-width: 96px
				text-align: right

	.number-input-for-range
		min-width: 72px

	.dropdown-item
		&:hover
			background-color: $dark

		&:active
			background-color: $blue

	.selectpicker + button
		& + .dropdown-menu
			a.dropdown-item
				&:hover
					background-color: $blue
					span
						color: $white !important

	.list-group.list-group-numbered-large .list-group-item .item-number
		padding: 1.5rem .5rem
		width: 46px

@include media-breakpoint-up(xl)
	.mt-xl-6
		margin-top: 6rem !important

@include media-breakpoint-down(md)
	.page-menu
		.dropdown-menu[aria-labelledby="user-dropdown"]
			background-color: transparent
			border: none
			padding: 0

			.dropdown-item
				padding: 0.25rem 0 0.25rem 1rem
				color: rgba(255, 255, 255, 0.5)

			.dropdown-divider
				display: none

		.menu
			.quick-search-button
				width: 56px
				height: 40px
				display: flex
				align-items: center
				justify-content: center
				border: 1px solid rgba(255, 255, 255, 0.1)
				border-radius: 4px

				svg
					color: #AAAAAA !important

		.quick-search
			position: fixed
			top: 0
			left: 0
			margin: 0 !important
			width: 100%
			height: 100%
			padding: 9px 15px 0 15px
			background-color: $dark
			align-items: flex-start
			opacity: 0
			pointer-events: none

			.quick-search-icon
				display: none

			.quick-search-button-close
				width: 38px
				margin-right: 10px
				height: 38px
				color: $gray-500
				font-size: 18px
				display: flex
				align-items: center
				justify-content: center

			.quick-search-field
				min-width: auto
				width: calc(100% - 48px)
				padding-left: 12px

			&.displayed
				opacity: 1
				pointer-events: all

				.dropdown-menu
					display: block !important
					top: 56px
					background-color: transparent
					border: none
					max-height: calc(100% - 56px)
					overflow-y: scroll

					.dropdown-item
						color: $white

						&:hover
							background-color: #444C57