{% extends 'admin.base.html.twig' %}

{% block pageTitle %}
	<h5 class="mb-0">Overview</h5>
{% endblock %}

{% block body %}
	<div class="row mt-3">
		<div class="col-4">
			<div class="card">
				<div class="card-header">
					<a href="/admin/movies">Movies in database</a>
				</div>
				<div class="card-body">
					<h5 class="card-title mb-0">
						{{ moviesTotal|length }}
						{% if moviesAddedThisMonth|length > 0 %}
							<span
							class="text-success font-size-14 font-weight-medium">+{{ moviesAddedThisMonth|length }} this month</span>
						{% endif %}
					</h5>
				</div>
			</div>
		</div>
		<div class="col-4">
			<div class="card">
				<div class="card-header">
					<a href="/admin/tv-shows">TV Shows in database</a>
				</div>
				<div class="card-body">
					<h5 class="card-title mb-0">
						{{ tvShowsTotal|length }}
						{% if tvShowsAddedThisMonth|length > 0 %}
							<span
							class="text-success font-size-14 font-weight-medium">+{{ tvShowsAddedThisMonth|length }} this month</span>
						{% endif %}
					</h5>
				</div>
			</div>
		</div>
		<div class="col-4">
			<div class="card">
				<div class="card-header">
					<a href="/admin/celebrities">Celebrities in database</a>
				</div>
				<div class="card-body">
					<h5 class="card-title mb-0">
						{{ celebritiesTotal|length }}
						{% if celebritiesAddedThisMonth|length > 0 %}
							<span
							class="text-success font-size-14 font-weight-medium">+{{ celebritiesAddedThisMonth|length }} this month</span>
						{% endif %}
					</h5>
				</div>
			</div>
		</div>
		<div class="col-4 mt-4">
			<h5>Recently added movies</h5>
			<ul class="list-group">
				{% for movie in moviesTotal|slice(0, 5) %}
					<li class="list-group-item d-flex justify-content-between">
						<a href="/admin/movies/edit/{{ movie.id }}">{{ movie.title }}</a>
						<a href="/admin/movies/edit/{{ movie.id }}">Edit</a>
					</li>
				{% endfor %}
			</ul>
		</div>
		<div class="col-4 mt-4">
			<h5>Recently added TV Shows</h5>
			<ul class="list-group">
				{% for tvShow in tvShowsTotal|slice(0, 5) %}
					<li class="list-group-item d-flex justify-content-between">
						<a href="/admin/tv-shows/edit/{{ tvShow.id }}">{{ tvShow.title }}</a>
						<a href="/admin/tv-shows/edit/{{ tvShow.id }}">Edit</a>
					</li>
				{% endfor %}
			</ul>
		</div>
		<div class="col-4 mt-4">
			<h5>Recently added celebrities</h5>
			<ul class="list-group">
				{% for celebrity in celebritiesTotal|slice(0, 5) %}
					<li class="list-group-item d-flex justify-content-between">
						<a href="/admin/celebrities/edit/{{ celebrity.id }}">{{ celebrity.fullName }}</a>
						<a href="/admin/celebrities/edit/{{ celebrity.id }}">Edit</a>
					</li>
				{% endfor %}
			</ul>
		</div>
	</div>
	<div class="row mt-5">
		<div class="col-12">
			<div class="most-visited-chart">
				<h4>Most visited this month</h4>
				{% if maxVisits < 1 %}
					<h6 class="text-muted">No movies have been visited this month yet</h6>
				{% endif %}
				<div class="chart-wrapper">
					<canvas id="movieVisitsChart" height="100"></canvas>
				</div>
			</div>
		</div>
	</div>
	<div class="row mt-5 mb-5">
		<div class="col-12">
			<h4>New reviews</h4>
			<table class="table table-borderless table-sm table-hover">
				<thead>
				<tr>
					{% if reviews|length >= 1 %}
						<th style="max-width: 39px;" class="pl-2 pr-4">
							<input type="checkbox" class="custom-control-input" id="customCheckAll"
								   data-url="/admin/remove-multiple/user-reviews">
							<label for="customCheckAll"></label>
						</th>
					{% endif %}
					<th scope="col">ID</th>
					<th scope="col">Author</th>
					<th scope="col">Movie title</th>
					<th scope="col">Body</th>
					<th scope="col">Rating</th>
					{% if isAtLeastAdmin %}
						<th scope="col" class="text-right">Actions</th>
					{% endif %}
				</tr>
				</thead>
				<tbody>
				{% if reviews is empty %}
					<tr class="font-size-14">
						<td colspan="6" class="text-center">No user reviews found</td>
					</tr>
				{% endif %}
				{% for review in reviews %}
					<tr class="font-size-14">
						<td style="max-width: 32px;" class="pl-2 pr-4">
							<input type="checkbox" class="custom-control-input" id="customCheck{{ loop.index }}"
								   data-id="{{ review.id }}">
							<label for="customCheck{{ loop.index }}"></label>
						</td>
						<td>{{ review.id }}</td>
						<td>{{ review.user.fullName }}</td>
						<td><a
									href="/admin/movies/edit/{{ review.movieOrTvShow.id }}">{{ review.movieOrTvShow.title }}</a>
						</td>
						<td>{{ review.body | length > 80 ? review.body | slice(0, 80) ~ '...' : review.body }}</td>
						<td>{{ review.rating }}</td>
						{% if isAtLeastAdmin %}
							<td class="text-right">
								<a href="/admin/reviews/edit/{{ review.id }}"
								   class="btn btn-outline-primary btn-sm py-0">
									<i class="fas fa-edit"></i> Edit</a>
								{% if isAtLeastSuperadmin %}
									<a href="/admin/reviews/delete/{{ review.id }}"
									   class="btn btn-outline-danger btn-sm py-0">
										<i class="fas fa-trash-alt"></i> Delete</a>
								{% endif %}
							</td>
						{% endif %}
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}