{% extends '_base.html.twig' %}

{% block title %}
	{% if movieOrTvShow != NULL %}
		{{ movieOrTvShow.title }} - Telecule
	{% else %}
		Movie not found - Telecule
	{% endif %}
{% endblock %}

{% set fileUrlType = "movies" %}
{% set urlType = "movie" %}
{% set similarType = "movies" %}
{% set castType = "Movie" %}

{% block body %}
	<div class="row mt-5 justify-content-center">
		<div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-4">
			{% include "movies/parts/detail/info.html.twig" %}
			{% include "movies/parts/detail/cast.html.twig" %}
			{% include "movies/parts/detail/similar.html.twig" %}
		</div>
		<div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-8">
			{% include "movies/parts/detail/form.html.twig" %}
			{% include "movies/parts/detail/reviews.html.twig" %}
		</div>
	</div>
{% endblock body %}