{% extends "_base.html.twig" %}

{% block title %}In cinemas - Telecule{% endblock %}

{% block body %}
	<div class="row mt-4 mt-lg-5">
		<div class="col-12">
			<h4>In cinemas</h4>
			<p class="mb-3 text-muted">{{ count }} movies from our database are currently in cinemas</p>

			<div class="list-group">
				{% for movie in newReleases %}
					<a href="/movie/{{ movie.slug }}" class="list-group-item">
						<img data-src="{{ asset('uploads/movies/small/' ~ movie.thumbnail) }}" src="{{ asset('uploads/movies/small/thumbnail.jpeg') }}" class="movie mr-3 lazyload" alt="{{ movie.thumbnail }}">
						<div class="item-content">
							<h6>{{ movie.title }}</h6>
							<span>in cinemas from {{ movie.premiere | date('d. m.') }}</span>
						</div>
					</a>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}