{% extends '_base.html.twig' %}

{% block title %}Movies - Telecule{% endblock %}

{% block body %}
	{% include "movies/parts/search.html.twig" %}
	{% include "movies/parts/recently_added.html.twig" %}
	{% include "movies/parts/top_10_movies.html.twig" %}
{% endblock body %}