{% extends '_base.html.twig' %}

{% block title %}Movies - Telecule{% endblock %}

{% block body %}
	{% include "movies/parts/search.html.twig" %}

	<div class="row mt-5">
		<div class="col-12">
			<h4>Movie search results {% if searchedString != "" %}for "{{ searchedString }}"{% endif %}</h4>
			<h6 class="text-muted mb-3">
				Found {{ returnedResults }} {{ returnedResults == 1 ? "result" : "results" }}</h6>
		</div>
		{% for movie in results %}
			<div class="col-12 col-lg-6 col-xl-4">
				<a class="card search-result-card" href="/movie/{{ movie.slug }}">
					<div class="card-image">
						<img data-src="{{ asset('uploads/movies/small/' ~ movie.thumbnail) }}" src="{{ asset('uploads/movies/small/thumbnail.jpeg') }}" class="lazyload" alt="{{ movie.thumbnail }}">
						<div
						class="rating-line {% if movie.rating >= 9 %}great{% elseif movie.rating >= 6 %}good{% elseif movie.rating < 6 and movie.rating is not null %}average{% endif %}"></div>
					</div>
					<div class="card-content">
						<h5 class="text-primary mb-1">{{ movie.title }}</h5>
						<span class="text-muted">
							{% if movie.premiere is null %}
								No premiere
							{% else %}
								{{ movie.premiere | date("d. m. Y") }}
							{% endif %}
						</span>

						<div class="genres mt-2 d-none d-lg-block">
							{% for genre in movie.genres %}
								<div class="chip">{{ genre.name }}</div>
							{% endfor %}
						</div>
					</div>
				</a>
			</div>
		{% endfor %}
	</div>
{% endblock body %}