<div class="movie-cast mt-5">
    <h4 class="mb-3">{{ castType }} cast</h4>
    <div class="dragscroll">
        {% if movieOrTvShow.castMembers is not empty %}
            {% for castMember in movieOrTvShow.castMembers %}
                <a href="/celebrity/{{ castMember.celebrity.slug }}" class="mr-2">
                    <div class="cast-slide">
                        <div class="img" style="width: 96px; height: 96px;">
                            <img data-src="{{ asset('/uploads/celebrity/small/' ~ castMember.celebrity.picture) }}"
                                 src="{{ asset('uploads/celebrity/small/thumbnail.jpeg') }}"
                                 alt="{{ castMember.celebrity.fullName }}"
                                 style="width: 100%; height: 100%; object-fit: cover;"
                                 class="rounded lazyload">
                        </div>
                        <span class="cast-slide-heading">{{ castMember.celebrity.fullName }}</span>
                        <span class="cast-slide-subheading">{{ castMember.castRoles | join(', ') }}</span>
                    </div>
                </a>
            {% endfor %}
        {% else %}
            <span class="text-muted">This movie has no cast assigned</span>
        {% endif %}
    </div>
</div>