{% if loggedIn and form is not null and movieOrTvShow.premiere is not null %}
	<div class="user-review-form mb-5 mt-5 mt-lg-0">
		<h4 class="mb-3">Review this movie</h4>
		{{ form(form) }}
	</div>
{% endif %}