<div class="card shadow-1 radius-6 border-0 mb-4">
	<div class="card-body d-flex flex-column flex-lg-row align-items-lg-start align-items-center px-0 py-0">
		<div class="card-image mr-0 mr-lg-4 d-flex flex-column" style="width: 128px; min-width: 128px;">
			<a href="{{ asset('uploads/' ~ fileUrlType ~ '/normal/' ~ movieOrTvShow.thumbnail) }}" data-fancybox="gallery">
				<img class="lazyload card-img-top rounded"
				     data-src="{{ asset('uploads/' ~ fileUrlType ~ '/small/' ~ movieOrTvShow.thumbnail) }}"
				     src="{{ asset('uploads/' ~ fileUrlType ~ '/small/thumbnail.jpeg') }}"
				     alt="{{ movieOrTvShow.thumbnail }}">
			</a>
			{% if movieOrTvShow.rating is not null %}
				<div
				class="{% if movieOrTvShow.rating >= 9 %}bg-warning{% elseif (movieOrTvShow.rating < 9 and movieOrTvShow.rating >= 6) %}bg-primary{% else %}bg-dark{% endif %} rounded mt-1 text-white py-1 text-center">
					<i class="fas fa-star mr-1"
					   style="font-size: 12px; position: relative; bottom: 2px;"></i>{{ movieOrTvShow.rating }}
				</div>
			{% else %}
				<div class="bg-secondary rounded mt-1 text-white py-1 text-center">Not yet rated</div>
			{% endif %}
		</div>
		<div class="card-content d-flex flex-column align-items-center align-items-lg-start mt-3 mt-lg-0">
			{% if isAtLeastModerator %}
				<a href="/admin/movies/edit/{{ movieOrTvShow.id }}">Edit</a>
			{% endif %}
			<h4 class="mb-1 text-center text-lg-left">{{ movieOrTvShow.title }}</h4>
			<h6 class="text-muted premiere font-size-14">
				{% if movieOrTvShow.premiere is not null %}
					{{ movieOrTvShow.premiere | date('d. m. Y') }}
				{% else %}
					<span class="text-muted">This movie has no premiere</span>
				{% endif %}
			</h6>
			<div class="card-text movie-description mt-3 mt-lg-0">
				{% if movieOrTvShow.description is not null %}
					{{ movieOrTvShow.description }}
				{% else %}
					<span class="text-muted">This movie has no description</span>
				{% endif %}
			</div>
			{% if movieOrTvShow.genres is not empty %}
				<div class="genres mt-3 d-inline-block {{ movieOrTvShow.description == NULL ? '' : 'align-self-start' }}">
					{% for genre in movieOrTvShow.genres %}
						<div class="chip">
							{{ genre }}
						</div>
					{% endfor %}
				</div>
			{% endif %}
		</div>
	</div>
</div>