<div class="user-reviews mt-5 mt-lg-0">
	<h4 class="mb-3">User reviews {% if average is defined and averageRaw is not null %}(<i
		class="fas fa-star rating-icon"></i> {{ average }}){% endif %}</h4>
	{% if reviews is empty and (highlightedReview is not defined or highlightedReview is null) %}
		<span class="text-muted">{{ movieOrTvShow.premiere is null ? 'This movie has no premiere date and cannot be reviewed' : 'This movie has no reviews' }}</span>
	{% else %}
		{% if highlightedReview is defined and highlightedReview is not null %}
			<div class="card mb-3 py-3 py-md-3 px-md-4 px-3 highlighted-review">
				<div class="card-top d-flex justify-content-between">
					<div class="left d-flex">
						<img data-src="{{ asset("/uploads/user/small/" ~ highlightedReview.user.profilePicture) }}"
						     src="{{ asset("/uploads/user/small/thumbnail.jpeg") }}"
						     alt="{{ highlightedReview.user.profilePicture }}" style="width: 48px; height: 48px;"
						     class="lazyload rounded-circle mr-3">
						<div class="info d-flex flex-column justify-content-center align-items-start">
							<a
							href="/user/{{ highlightedReview.user.username }}">{{ highlightedReview.user.username }}</a>
							<span
							class="text-muted text-small">{{ highlightedReview.dateCreated | date("d. m. Y") }}</span>
						</div>
					</div>
					<div class="right d-flex">
						<div
						class="rating {% if highlightedReview.rating >= 9 %}rating-great{% elseif highlightedReview.rating >= 6 %}rating-good{% elseif highlightedReview.rating < 6 and highlightedReview.rating is not null %}rating-average{% endif %}">
							<i class="fas fa-star rating-icon"></i> {{ highlightedReview.rating }}</div>

						{% if loggedIn and highlightedReview.user.id == user.id %}
							<div class="action ml-5">
								<a href="/user_review/edit/{{ highlightedReview.id }}"
								   class="text-secondary mr-2">Edit</a>
								<a href="/user_review/delete/{{ highlightedReview.id }}" class="text-danger">Delete</a>
							</div>
						{% endif %}
					</div>
				</div>
				<div class="card-bottom mt-2">
					{{ highlightedReview.body }}
				</div>
			</div>
		{% endif %}
		<div class="reviews-wrapper">
			{% for userReview in reviews %}
				<div class="card mb-3 py-3 py-md-3 px-md-4 px-3">
					<div class="card-top d-flex justify-content-between">
						<div class="left d-flex">
							<img data-src="{{ asset("/uploads/user/small/" ~ userReview.user.profilePicture) }}"
							     src="{{ asset("/uploads/user/small/thumbnail.jpeg") }}"
							     alt="{{ userReview.user.profilePicture }}" style="width: 48px; height: 48px;"
							     class="lazyload rounded-circle mr-3">
							<div class="info d-flex flex-column justify-content-center align-items-start">
								<a href="/user/{{ userReview.user.username }}">{{ userReview.user.username }}</a>
								<span
								class="text-muted text-small">{{ userReview.dateCreated | date("d. m. Y") }}</span>
							</div>
						</div>
						<div class="right d-flex">
							<div
							class="rating {% if userReview.rating >= 9 %}rating-great{% elseif userReview.rating >= 6 %}rating-good{% elseif userReview.rating < 6 and userReview.rating is not null %}rating-average{% endif %}">
								<i class="fas fa-star rating-icon"></i> {{ userReview.rating }}</div>

							{% if loggedIn and userReview.user.id == user.id %}
								<div class="action ml-5 d-none d-lg-block">
									<a href="/user_review/edit/{{ userReview.id }}" class="text-secondary mr-2">Edit</a>
									<a href="/user_review/delete/{{ userReview.id }}" class="text-danger">Delete</a>
								</div>
								<div class="action-mobile dropdown d-block d-lg-none">
									<i class="fas fa-chevron-down text-secondary ml-3 dropdown-toggle"
									   id="dropdownMobile" data-toggle="dropdown"></i>
									<div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMobile">
										<a href="/user_review/edit/{{ userReview.id }}"
										   class="dropdown-item text-secondary mr-2">Edit</a>
										<a href="/user_review/delete/{{ userReview.id }}"
										   class="dropdown-item text-danger">Delete</a>
									</div>
								</div>
							{% endif %}
						</div>
					</div>
					<div class="card-bottom mt-2">
						{{ userReview.body }}
					</div>
				</div>
			{% endfor %}
		</div>
		{% if movieOrTvShow.userReviews.count > 5 %}
			<div class="text-center mt-3">
				<a href="/{{ urlType }}/{{ movieOrTvShow.slug }}/load-more"
				   class="text-center load-more load-more-movie"><i
					class="fas fa-plus text-small"></i> Load more</a>
			</div>
		{% endif %}
	{% endif %}
</div>