<div class="similar-movies mt-5">
	<h4 class="mb-3">Similar {{ similarType }}</h4>
	{% if similar|length < 4 %}
		<p class="text-muted">Not enough similar movies found</p>
	{% else %}
		<div class="similar-movies d-flex justify-content-start" style="margin: 0 -0.25rem;">
			{% if similar is not empty %}
				{% for similar_ in similar %}
					<div class="similar-movie-slide-inner px-1" style="width: 25%;" data-toggle="tooltip"
						 data-placement="bottom"
						 title="{{ similar_.title }}">
						<a href="/{{ urlType }}/{{ similar_.slug }}">
							<div class="img" style="width: 100%;">
								<img data-src="{{ asset('/uploads/' ~ fileUrlType ~ '/small/' ~ similar_.thumbnail) }}"
									 src="{{ asset('/uploads/' ~ fileUrlType ~ '/small/thumbnail.jpeg') }}"
									 alt="{{ similar_.title }}" style="width: 100%; height: 100%; object-fit: cover;"
									 class="rounded lazyload">
							</div>
						</a>
					</div>
				{% endfor %}
			{% else %}
				<span
						class="text-muted px-1">We couldn't find any similar movies because the movie has no genres assigned</span>
			{% endif %}
		</div>
	{% endif %}
</div>