{% extends '_base.html.twig' %}

{% block title %}TV Shows - Telecule{% endblock %}

{% block body %}
	{% include "tv_shows/parts/search.html.twig" %}
	{% include "tv_shows/parts/recently_added.html.twig" %}
	{% include "tv_shows/parts/top_10_tv_shows.html.twig" %}
{% endblock body %}