{% extends '_base.html.twig' %}

{% block title %}TV Shows - Telecule{% endblock %}

{% block body %}
	{% include "tv_shows/parts/search.html.twig" %}

	<div class="row mt-5">
		<div class="col-12">
			<h4>TV Show search results {% if searchedString != "" %}for "{{ searchedString }}"{% endif %}</h4>
			<h6 class="text-muted mb-3">
				Found {{ returnedResults }} {{ returnedResults == 1 ? "result" : "results" }}</h6>
		</div>
		{% for tvShow in results %}
			<div class="col-12 col-lg-6 col-xl-4">
				<a class="card search-result-card" href="/tv-show/{{ tvShow.slug }}">
					<div class="card-image">
						<img class="lazyload" data-src="{{ asset('uploads/tvshows/small/' ~ tvShow.thumbnail) }}" src="{{ asset('uploads/tvshows/small/thumbnail.jpeg') }}" alt="{{ tvShow.thumbnail }}">
						<div
						class="rating-line {% if tvShow.rating >= 9 %}great{% elseif tvShow.rating >= 6 %}good{% elseif tvShow.rating < 6 and tvShow.rating is not null %}average{% endif %}"></div>
					</div>
					<div class="card-content">
						<h5 class="text-primary mb-1">{{ tvShow.title }}</h5>
						<span class="text-muted">
							{% if tvShow.premiere is null %}
								No premiere
							{% else %}
								{{ tvShow.premiere | date("d. m. Y") }}
							{% endif %}
						</span>

						<div class="genres mt-2 d-none d-lg-block">
							{% for genre in tvShow.genres %}
								<div class="chip">{{ genre.name }}</div>
							{% endfor %}
						</div>
					</div>
				</a>
			</div>
		{% endfor %}
	</div>
{% endblock body %}