{% extends "_base.html.twig" %}

{% block title %}Telecule{% endblock %}

{% block body %}
	{% if recommendedMovies is not empty %}
		{% include "homepage/parts/recommended.html.twig" %}
	{% endif %}
	{% include "homepage/parts/popular.html.twig" %}
	{% include "homepage/parts/trailers.html.twig" %}
	{% include "homepage/parts/lists.html.twig" %}
	{% include "homepage/parts/complaint.html.twig" %}
{% endblock %}