{% extends 'admin.base.html.twig' %}

{% block pageTitle %}
	<h5 class="mb-0">Edit review</h5>
{% endblock %}

{% block pageAction %}
	<a href="/admin/reviews/delete/{{ review.id }}" class="btn btn-danger">Delete</a>
{% endblock %}

{% block body %}
	<div class="row justify-content-center">
		<div class="col-6">
			{{ form(form) }}
		</div>
	</div>
{% endblock %}