{% extends 'admin.base.html.twig' %}

{% block pageTitle %}
	<h5 class="mb-0">Reviews <span class="text-muted">({{ count }})</span></h5>
{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-12">
			<table class="table table-borderless table-sm table-hover">
				<thead>
				<tr>
					{% if reviews|length >= 1 %}
						<th style="max-width: 39px;" class="pl-2 pr-4">
							<input type="checkbox" class="custom-control-input" id="customCheckAll"
								   data-url="/admin/remove-multiple/user-reviews">
							<label for="customCheckAll"></label>
						</th>
					{% endif %}
					<th scope="col">ID</th>
					<th scope="col">Author</th>
					<th scope="col">Movie title</th>
					<th scope="col">Body</th>
					<th scope="col">Rating</th>
					{% if isAtLeastAdmin %}
						<th scope="col" class="text-right">Actions</th>
					{% endif %}
				</tr>
				</thead>
				<tbody>
				{% if reviews is empty %}
					<tr class="font-size-14">
						<td colspan="6" class="text-center">No user reviews found</td>
					</tr>
				{% endif %}
				{% for review in reviews %}
					<tr class="font-size-14">
						<td style="max-width: 32px;" class="pl-2 pr-4">
							<input type="checkbox" class="custom-control-input" id="customCheck{{ loop.index }}"
								   data-id="{{ review.id }}">
							<label for="customCheck{{ loop.index }}"></label>
						</td>
						<td>{{ review.id }}</td>
						<td>{{ review.user.fullName }}</td>
						<td><a
							href="/admin/movies/edit/{{ review.movieOrTvShow.id }}">{{ review.movieOrTvShow.title }}</a>
						</td>
						<td>{{ review.body | length > 80 ? review.body | slice(0, 80) ~ '...' : review.body }}</td>
						<td>{{ review.rating }}</td>
						{% if isAtLeastAdmin %}
							<td class="text-right">
								<a href="/admin/reviews/edit/{{ review.id }}"
								   class="btn btn-outline-primary btn-sm py-0">
                                    <i class="fas fa-edit"></i> Edit</a>
								{% if isAtLeastSuperadmin %}
									<a href="/admin/reviews/delete/{{ review.id }}"
									   class="btn btn-outline-danger btn-sm py-0">
                                        <i class="fas fa-trash-alt"></i> Delete</a>
								{% endif %}
							</td>
						{% endif %}
					</tr>
				{% endfor %}
				</tbody>
			</table>
			{% include 'pagination.html.twig' %}
		</div>
	</div>
{% endblock %}