{% extends "admin.base.html.twig" %}

{% block pageTitle %}
    <h5 class="mb-0">Complaints <span class="text-muted">({{ count }})</span></h5>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            {% if complaints is defined %}
                <table class="table table-borderless table-hover table-sm">
                    <thead>
                    <tr>
                        {% if complaints|length >= 1 %}
                            <th style="max-width: 39px;" class="pl-2 pr-4">
                                <input type="checkbox" class="custom-control-input" id="customCheckAll"
                                       data-url="/admin/remove-multiple/complaints">
                                <label for="customCheckAll"></label>
                            </th>
                        {% endif %}
                        <th scope="col" style="width: 42px;">
                            ID
                        </th>
                        <th scope="col">
                            Message
                        </th>
                        <th scope="col" class="text-right">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if complaints is empty %}
                        <tr class="font-size-14">
                            <td colspan="3" class="text-center">No complaints found</td>
                        </tr>
                    {% else %}
                        {% for complaint in complaints %}
                            <tr class="font-size-14">
                                <td style="max-width: 32px;" class="pl-2 pr-4">
                                    <input type="checkbox" class="custom-control-input" id="customCheck{{ loop.index }}"
                                           data-id="{{ complaint.id }}">
                                    <label for="customCheck{{ loop.index }}"></label>
                                </td>
                                <td scope="row">{{ complaint.id }}</td>
                                <td>{{ complaint.message }}</td>
                                <td class="text-right">
                                    <a href="/admin/complaints/delete/{{ complaint.id }}"
                                       class="btn btn-outline-danger btn-sm py-0"><i class="fas fa-trash-alt"></i> Delete</a>
                                </td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                    </tbody>
                </table>
            {% endif %}
            {% include 'pagination.html.twig' %}
        </div>
    </div>
{% endblock %}