{% extends 'admin.base.html.twig' %}

{% block pageTitle %}<h5 class="m-0">Edit genre</h5>{% endblock %}

{% block pageAction %}
	<a href="/admin/genres/delete/{{ genre.id }}" class="btn btn-danger">Delete</a>
{% endblock %}

{% block body %}
	<div class="row justify-content-center">
		<div class="col-4">
			{{ form(form) }}
		</div>
	</div>
{% endblock %}