{% extends 'admin.base.html.twig' %}

{% block pageTitle %}
	<h5 class="mb-0">Genres <span class="text-muted">({{ count }})</span></h5>
{% endblock %}

{% block pageAction %}
	<a href="/admin/genre/add" class="btn btn-primary">
		<i class="fas fa-plus font-size-14 mr-2"></i>
		<span>New genre</span>
	</a>
{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-12">
			{% if genres is defined %}
				<table class="table table-borderless table-hover table-sm">
					<thead>
					<tr>
						<th scope="col" style="width: 42px;">
							<a data-sortable="id">ID</a>
						</th>
						<th scope="col">
							<a data-sortable="name">Name</a>
						</th>
						<th scope="col" class="text-right">Actions</th>
					</tr>
					</thead>
					<tbody>
					{% for genre in genres %}
						<tr class="font-size-14">
							<td scope="row">{{ genre.id }}</td>
							<td><a href="/admin/genres/edit/{{ genre.id }}">{{ genre.name }}</a></td>
							<td class="text-right">
								<a href="/admin/genres/edit/{{ genre.id }}"
								   class="btn btn-outline-primary btn-sm py-0"> <i
									class="fas fa-edit"></i> Edit</a>
								<a href="/admin/genres/delete/{{ genre.id }}"
								   class="btn btn-outline-danger btn-sm py-0"><i
									class="fas fa-trash-alt"></i> Delete</a>
							</td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
			{% endif %}

			{% include 'pagination.html.twig' %}
		</div>
	</div>
{% endblock %}