<div class="row mt-5 mt-xl-6">
    <div class="col-12">
        <h4 class="mb-3">Recently added</h4>
        <div class="dragscroll-wrapper">
            <div class="dragscroll" style="overflow-x: scroll; white-space: nowrap;">
                {% for tvShow in recentlyAdded %}
                    <a href="/tv-show/{{ tvShow.slug }}" class="drag-and-scroll-item rated"
                       style="background-image: url({{ asset('uploads/tvshows/small/' ~ tvShow.thumbnail) }})">
                        <span>{{ tvShow.title }}</span>
                        <div
                                class="rating-line {% if tvShow.rating >= 9 %}great{% elseif tvShow.rating >= 6 %}good{% elseif tvShow.rating < 6 and tvShow.rating is not null %}average{% endif %}"></div>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>