<div class="row mt-5 justify-content-center">
	<div class="col-12 mb-3">
		<div class="d-flex align-items-end justify-content-between">
			<h4 class="mb-3">Top 10 TV Shows</h4>
			<a href="/tv-shows/leaderboard" class="mb-3">View the full leaderboard ({{ count < 100 ? count : '100' }} TV Shows)</a>
		</div>
		<div class="list-group list-group-numbered-large">
			{% for tvShow in bestRatedTvShows %}
				<a href="/tv-show/{{ tvShow.slug }}" class="list-group-item">
					<span class="item-number">
						<span>{{ loop.index }}</span>
					</span>
					<img data-src="{{ asset('uploads/tvshows/small/' ~ tvShow.thumbnail) }}" src="{{ asset('uploads/tvshows/small/thumbnail.jpeg') }}" class="lazyload tv-show mr-3" alt="{{ tvShow.thumbnail }}">
					<div class="item-content">
						<h6>{{ tvShow.title }}</h6>
						<span>{{ tvShow.premiere | date('d. m. Y') }}</span>
					</div>
					<div class="item-info">
						{% for genre in tvShow.genres %}
							<div class="chip d-none d-lg-inline-block">{{ genre.name }}</div>
						{% endfor %}
						{% if tvShow.rating is not null %}
							<span
							class="ml-0 ml-lg-4 {% if tvShow.rating >= 9 %}rating-great{% elseif tvShow.rating >= 6 %}rating-good{% elseif tvShow.rating < 6 and tvShow.rating is not null %}rating-average{% endif %}">
								<i class="fas fa-star rating-icon"></i>
								{{ tvShow.rating }}
							</span>
						{% endif %}
					</div>
				</a>
			{% endfor %}
		</div>
	</div>
</div>