{% extends 'admin.base.html.twig' %}

{% block pageTitle %}
	<h5 class="mb-0">User roles <span class="text-muted">({{ count }})</span></h5>
{% endblock %}

{% block pageAction %}
	<a href="/admin/user-role/add" class="btn btn-primary"><i class="fas fa-plus font-size-14 mr-2"></i>New user
		role</a>
{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-12">
			{% if userRoles is defined %}
				<table class="table table-borderless table-hover table-sm">
					<thead>
					<tr>
						<th scope="col" style="width: 42px;">
							<a data-sortable="id">ID</a>
						</th>
						<th scope="col">
							<a data-sortable="name">Name</a>
						</th>
						<th scope="col" class="text-right">Actions</th>
					</tr>
					</thead>
					<tbody>
					{% if userRoles is empty %}
						<tr class="font-size-14">
							<td colspan="3" class="text-center">No user roles found</td>
						</tr>
					{% else %}
						{% for userRole in userRoles %}
							<tr class="font-size-14">
								<td scope="row">{{ userRole.id }}</td>
								<td>{{ userRole.name }}</td>
								{% if userRole.deletable %}
									<td class="text-right">
										<a href="/admin/user-roles/delete/{{ userRole.id }}"
										   class="btn btn-outline-danger btn-sm py-0"><i
											class="fas fa-trash-alt"></i> Delete</a>
									</td>
								{% else %}
									<td class="text-right">Not deletable</td>
								{% endif %}
							</tr>
						{% endfor %}
					{% endif %}
					</tbody>
				</table>
			{% endif %}
			{% include 'pagination.html.twig' %}
		</div>
	</div>
{% endblock %}