{% extends 'admin.base.html.twig' %}

{% block pageTitle %}
	<h5 class="mb-0">New TV Show</h5>
{% endblock %}

{% block body %}
	<div class="row justify-content-center">
		<div class="col-5">
			{{ form(form) }}
		</div>
	</div>
{% endblock %}