{% extends 'admin.base.html.twig' %}

{% block pageTitle %}
	<h5 class="mb-0">
		{{ movieOrTvShow.title }}
	</h5>
{% endblock %}

{% block pageAction %}
	<a href="/admin/tv-shows/delete/{{ movieOrTvShow.id }}" class="btn btn-danger">Delete</a>
{% endblock %}

{% block body %}
	{% if missingInfo is not empty %}
		<div class="row missing-info">
			<div class="col-12">
				<div class="alert alert-warning">
					<h5 class="alert-heading font-weight-bold">Missing information</h5>
					<ul class="mb-0 pl-4">
						{% for missing in missingInfo %}
							<li>{{ missing }}</li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>
	{% endif %}
	<div class="row mt-3">
		<div class="col-2">
			<div class="nav flex-column nav-pills" id="tabs">
				<a class="nav-link active" href="#tab-information">Information</a>
				<a class="nav-link" href="#tab-preview">Preview</a>
				<a class="nav-link" href="#tab-cast">Cast</a>
			</div>
		</div>
		<div class="col-10">
			<div class="d-flex justify-content-center">
				<div class="tab-pane w-50" id="tab-information">
					{{ form(form) }}
				</div>
				<div class="tab-pane hidden w-100" id="tab-preview">
					{% set fileUrlType = "tvshows" %}
					{% set urlType = "tv-show" %}
					{% set similarType = "TV Shows" %}
					{% set castType = "TV Show" %}
					<div class="col-12">
						{% include 'movies/parts/detail/info.html.twig' %}
					</div>
				</div>
				<div class="tab-pane w-100 hidden" id="tab-cast">
					<a href="/admin/tv-show/{{ movieOrTvShow.id }}/new-cast-member" class="btn btn-primary"><i
						class="fas fa-plus font-size-14 mr-2"></i>New cast member</a>
					<table class="table table-borderless table-hover table-sm mt-3">
						<thead>
						<tr>
							<th scope="col" class="text-center" style="width: 120px;">
								<a data-sortable="id">Celebrity ID</a>
							</th>
							<th scope="col">
								<a data-sortable="fullName">Full name</a>
							</th>
							<th scope="col">
								<a data-sortable="bio">Bio</a>
							</th>
							<th scope="col">Cast roles</th>
							<th scope="col" class="text-right">Actions</th>
						</tr>
						</thead>
						<tbody>
						{% if movieOrTvShow.castMembers is empty %}
							<tr class="font-size-14 text-center">
								<td scope="row" colspan="5">This movie has no cast</td>
							</tr>
						{% else %}
							{% for castMember in movieOrTvShow.castMembers %}
								<tr class="font-size-14">
									<td scope="row" class="text-center">{{ castMember.celebrity.id }}</td>
									<td>
										<a
										href="/admin/celebrities/edit/{{ castMember.celebrity.id }}">{{ castMember.celebrity.fullName }}</a>
									</td>
									<td>{{ castMember.celebrity.bio | length > 80 ? castMember.celebrity.bio | slice(0, 80) ~ '...' : castMember.celebrity.bio }}</td>
									<td>
										{{ castMember.castRoles | join(', ') }}
									</td>
									<td class="text-right">
										<a href="/admin/tv-show/cast-member/edit/{{ castMember.id }}"
										   class="btn btn-outline-primary btn-sm py-0"> <i
											class="fas fa-edit"></i>Edit</a>
										<a href="/admin/tv-show/cast-member/delete/{{ castMember.id }}"
										   class="btn btn-outline-danger btn-sm py-0"><i
											class="fas fa-trash-alt"></i>Delete</a>
									</td>
								</tr>
							{% endfor %}
						{% endif %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
{% endblock %}