{% extends 'admin.base.html.twig' %}

{% block pageTitle %}
    <div class="d-flex align-items-center">
        <h5 class="mb-0">TV Shows <span class="text-muted">({{ count }})</span></h5>
        <div class="form-group mb-0 ml-4 search-group" style="position: relative;">
            <input type="text" name="search" class="form-control" id="dropdownSearch" placeholder="Type to search..."
                   style="min-width: 320px;" data-url="/admin/tv-shows/search" data-url-target="/admin/tv-shows/edit">
            <div class="dropdown-menu w-100">
                <h6 class="dropdown-header">Type to search...</h6>
            </div>
        </div>
    </div>
{% endblock %}

{% block pageAction %}
    <a href="/admin/tv-show/add" class="btn btn-primary">
        <i class="fas fa-plus font-size-14 mr-2"></i>
        <span>New TV Show</span>
    </a>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <table class="table table-borderless table-sm table-hover">
                <thead>
                <tr>
                    {% if tvShows|length >= 1 %}
                        <th style="max-width: 39px;" class="pl-2 pr-4">
                            <input type="checkbox" class="custom-control-input" id="customCheckAll"
                                   data-url="/admin/remove-multiple/movies-or-tv-shows">
                            <label for="customCheckAll"></label>
                        </th>
                    {% endif %}
                    <th scope="col" style="width: 42px;">
                        <a data-sortable="id">ID</a>
                    </th>
                    <th scope="col">
                        <a data-sortable="title">Title</a>
                    </th>
                    <th scope="col">
                        <a data-sortable="premiere">Premiere</a>
                    </th>
                    <th scope="col">
                        <a data-sortable="shortDescription">Short description</a>
                    </th>
                    <th scope="col">Genres</th>
                    <th scope="col" class="text-right">
                        <a data-sortable="rating">Rating</a>
                    </th>
                    <th scope="col" class="text-right">
                        <a data-sortable="dateCreated">Date created</a>
                    </th>
                    <th scope="col" class="text-right">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% if tvShows is empty %}
                    <tr>
                        <td colspan="7" class="text-center">No TV Shows found</td>
                    </tr>
                {% endif %}
                {% for tvShow in tvShows %}
                    <tr class="font-size-14">
                        <td style="max-width: 32px;" class="pl-2 pr-4">
                            <input type="checkbox" class="custom-control-input" id="customCheck{{ loop.index }}"
                                   data-id="{{ tvShow.id }}">
                            <label for="customCheck{{ loop.index }}"></label>
                        </td>
                        <th scope="row">{{ tvShow.id }}</th>
                        <td>
                            <a href="/admin/tv-shows/edit/{{ tvShow.id }}">
                                {{ tvShow.title }}
                                {% if tvShow.homepageRecommendation is not null %}
                                    <i class="fas fa-star text-warning" style="position: relative; bottom: 1px;"></i>
                                {% endif %}
                            </a>
                        </td>
                        <td>
                            {% if tvShow.premiere is not null %}
                                {{ tvShow.premiere | date('d. m. Y') }}
                            {% else %}
                                <span class="text-muted">-</span>
                            {% endif %}
                        </td>
                        <td>
                            {{ tvShow.shortDescription | length > 50 ? tvShow.shortDescription | slice(0, 50) ~ '...' : tvShow.shortDescription }}
                        </td>
                        <td>
                            {{ tvShow.genres | join(', ') }}
                        </td>
                        <td class="text-right">{{ tvShow.rating }}</td>
                        <td class="text-right">{{ tvShow.dateCreated | date('d. m. Y') }}</td>
                        <td class="text-right">
                            <a href="/admin/tv-shows/edit/{{ tvShow.id }}"
                               class="btn btn-outline-primary btn-sm py-0">
                                <i class="fas fa-edit"></i> Edit
                            </a>
                            <a href="/admin/tv-shows/delete/{{ tvShow.id }}" class="btn btn-outline-danger btn-sm py-0">
                                <i class="fas fa-trash-alt"></i> Delete
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            {% include 'pagination.html.twig' %}
        </div>
    </div>
{% endblock %}