{% set overview = '' %}
{% set homepage = '' %}
{% set moviesAndTvShows = '' %}
{% set celebrities = '' %}
{% set users = '' %}

{% set overviewRoutes = ['admin_overview'] %}
{% set homepageRoutes = ['admin_trailers', 'add_trailer', 'edit_trailer', 'admin_trailer_order', 'admin_recommendations', 'admin_recommendations_order'] %}
{% set moviesAndTvShowsRoutes = ['admin_movies', 'edit_movie', 'add_movie', 'admin_tv_shows', 'edit_tv_show', 'add_tv_show', 'admin_user_reviews', 'admin_genres', 'add_genre', 'edit_genre', 'assign_tv_show_cast_member', 'assign_movie_cast_member', 'edit_movie_cast_member', 'edit_tv_show_cast_member', 'omdb', 'omdb_add'] %}
{% set celebritiesRoutes = ['admin_celebrities', 'edit_celebrity', 'add_celebrity', 'admin_cast_roles'] %}
{% set usersRoutes = ['admin_users', 'admin_user_roles'] %}

{% if route in (overviewRoutes) %}
	{% set overview = 'show' %}
{% elseif route in (homepageRoutes) %}
	{% set homepage = 'show' %}
{% elseif route in (moviesAndTvShowsRoutes) %}
	{% set moviesAndTvShows = 'show' %}
{% elseif route in (celebritiesRoutes) %}
	{% set celebrities = 'show' %}
{% elseif route in (usersRoutes) %}
	{% set users = 'show' %}
{% endif %}

{% block menu %}
	<!--Main menu-->
	<nav class="nav flex-column px-3 pt-2">

		<!--Menu header-->
		<div class="menu-header py-2 border-bottom">
			<h5>
				<a class="nav-link text-dark" href="/admin">Administration</a>
			</h5>
		</div>

		<div class="logged-user d-flex align-items-center px-3 py-3 border-bottom">
			<div class="img">
				<img class="rounded-circle mr-2 lazyload" src="{{ asset('uploads/user/small/thumbnail.jpeg') }}" data-src="{{ asset('uploads/user/small/' ~ user.profilePicture) }}" alt="{{ user.profilePicture }}" style="height: 48px; width: 48px;">
			</div>
			<div class="name d-flex flex-column">
				<span class="text-primary">{{ user.fullName }}</span>
				<span class="font-size-14 text-muted">
					{% if user.roleId == 3 %}
						superadmin
					{% elseif user.roleId == 2 %}
						admin
					{% else %}
						moderator
					{% endif %}
				</span>
			</div>
		</div>

		<!--Menu body-->
		<a href="/admin" class="nav-link mt-3 {{ overview }}">Overview</a>
		<a href="#homepage" class="nav-link" data-toggle="collapse">Homepage</a>

		<!--Homepage dropdown-->
		<div class="nav-dropdown collapse border-left border-primary ml-3 {{ homepage }}" id="homepage">
			<a href="/admin/homepage-recommendations" class="nav-link font-size-14">Recommended</a>
			<a href="/admin/trailers" class="nav-link font-size-14">Trailers</a>
		</div>

		<a href="#movies" class="nav-link" data-toggle="collapse">Movies and TV Shows</a>

		<!--Movies and TV Shows dropdown-->
		<div class="nav-dropdown collapse border-left border-primary ml-3 {{ moviesAndTvShows }}" id="movies">
			<a href="/admin/movies" class="nav-link font-size-14">Movies</a>
			<a href="/admin/tv-shows" class="nav-link font-size-14">TV Shows</a>
			<a href="/admin/genres" class="nav-link font-size-14">Genres</a>
			<a href="/admin/reviews" class="nav-link font-size-14">Reviews</a>
			<a href="/admin/omdb" class="nav-link">OMDb</a>
		</div>
		<a class="nav-link" href="#actors" data-toggle="collapse">Celebrities</a>

		<!--Celebrities dropdown-->
		<div class="nav-dropdown collapse border-left border-primary ml-3 {{ celebrities }}" id="actors">
			<a class="nav-link font-size-14" href="/admin/celebrities">Celebrities</a>
			<a class="nav-link font-size-14" href="/admin/cast-roles">Cast roles</a>
		</div>
		<a class="nav-link" href="#users" data-toggle="collapse">Users</a>

		<!--Users dropdown-->
		<div class="nav-dropdown collapse border-left border-primary ml-3 {{ users }}" id="users">
			<a class="nav-link font-size-14" href="/admin/users">Users</a>
			{% if isAtLeastSuperadmin %}
				<a class="nav-link font-size-14" href="/admin/user-roles">User roles</a>
			{% endif %}
		</div>

		{% if isAtLeastAdmin %}
			<a href="/admin/complaints" class="nav-link">Complaints</a>
		{% endif %}
	</nav>


	<!--Back to website menu-->
	<nav class="nav flex-column px-3 py-2">
		<a href="/" class="nav-link py-3 text-dark">
			<i class="fas fa-long-arrow-alt-left mr-2" style="font-size: 24px; position: relative; top: 3px;"></i>
			<span>Back to website</span>
		</a>
	</nav>
{% endblock %}