<table class="table table-borderless table-hover table-sm mt-3">
	<thead>
	<tr>
		<th scope="col" class="text-center" style="width: 120px;">
			<a data-sortable="id">Movie ID</a>
		</th>
		<th scope="col">
			<a data-sortable="fullName">Title</a>
		</th>
		<th scope="col">Cast roles</th>
		<th scope="col" class="text-right">Actions</th>
	</tr>
	</thead>
	<tbody>
	{% if celebrity.moviesAndTvShows is empty %}
		<tr class="font-size-14 text-center">
			<td scope="row" colspan="5">This celebrity is not assigned to any movies</td>
		</tr>
	{% else %}
		{% for castMember in celebrity.moviesAndTvShows %}
			<tr class="font-size-14">
				<td scope="row" class="text-center">{{ castMember.movieOrTvShow.id }}</td>
				<td>
					<a
					href="/admin/movies/edit/{{ castMember.movieOrTvShow.id }}">{{ castMember.movieOrTvShow.title }}</a>
				</td>
				<td>
					{{ castMember.castRoles | join(', ') }}
				</td>
				<td class="text-right">
					<a href="/admin/cast-member/{{ castMember.id }}/edit/"
					   class="btn btn-outline-primary btn-sm py-0"> <i
						class="fas fa-edit"></i>Edit</a>
					<a href="/admin/cast-member/{{ castMember.id }}/remove"
					   class="btn btn-outline-danger btn-sm py-0"><i
						class="fas fa-trash-alt"></i>Delete</a>
				</td>
			</tr>
		{% endfor %}
	{% endif %}
	</tbody>
</table>