{% extends 'admin.base.html.twig' %}

{% block pageTitle %}
	<h5 class="mb-0">{{ celebrity.fullName }}</h5>
{% endblock %}

{% block pageAction %}
	<a href="/admin/celebrities/{{ celebrity.id }}/assign-to-movie" class="btn btn-secondary">Assign to movie</a>
	<a href="/admin/celebrities/delete/{{ celebrity.id }}" class="btn btn-danger">Delete</a>
{% endblock %}

{% block body %}
	{% if missingInfo is not empty %}
		<div class="row missing-info">
			<div class="col-12">
				<div class="alert alert-warning">
					<h5 class="alert-heading font-weight-bold">Missing information</h5>
					<ul class="mb-0 pl-4">
						{% for missing in missingInfo %}
							<li>{{ missing }}</li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>
	{% endif %}
	<div class="row mt-3">
		<div class="col-2">
			<div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
				<a class="nav-link active" id="v-pills-information-tab" data-toggle="pill" href="#v-pills-information"
				   role="tab"
				   aria-controls="v-pills-information" aria-selected="false">Information</a>
				<a class="nav-link" id="v-pills-preview-tab" data-toggle="pill" href="#v-pills-preview"
				   role="tab"
				   aria-controls="v-pills-preview" aria-selected="true">Preview</a>
				<a class="nav-link" id="v-pills-appearances-tab" data-toggle="pill" href="#v-pills-appearances"
				   role="tab"
				   aria-controls="v-pills-appearances" aria-selected="true">Appearances</a>
			</div>
		</div>
		<div class="col-10">
			<div class="tab-content d-flex justify-content-center mt-3" id="v-pills-tabContent">
				<div class="tab-pane fade show active w-50" id="v-pills-information" role="tabpanel"
				     aria-labelledby="v-pills-information-tab">
					{{ form(form) }}
				</div>
				<div class="tab-pane fade w-50" id="v-pills-preview" role="tabpanel"
				     aria-labelledby="v-pills-preview-tab">
					{% include 'celebrities/parts/info.html.twig' %}
				</div>
				<div class="tab-pane fade w-50" id="v-pills-appearances" role="tabpanel"
				     aria-labelledby="v-pills-appearances-tab">
					{% include 'admin/celebrities/celebrities/appearances.html.twig' %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}