{% extends 'admin.base.html.twig' %}

{% block pageTitle %}
	<div class="d-flex align-items-center">
		<h5 class="mb-0">Celebrities <span class="text-muted">({{ count }})</span></h5>
		<div class="form-group mb-0 ml-4 search-group" style="position: relative;">
			<input type="text" name="search" class="form-control" id="dropdownSearch" placeholder="Type to search..." style="min-width: 320px;" data-url="/admin/celebrities/search" data-url-target="/admin/celebrities/edit">
			<div class="dropdown-menu w-100">
				<h6 class="dropdown-header">Type to search...</h6>
			</div>
		</div>
	</div>
{% endblock %}

{% block pageAction %}
	<a href="/admin/celebrity/add" class="btn btn-primary">
		<i class="fas fa-plus font-size-14 mr-2"></i>
		<span>New celebrity</span>
	</a>
{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-12">
			{% if celebrities is defined %}
				<table class="table table-borderless table-hover table-sm">
					<thead>
					<tr>
						{% if celebrities|length >= 1 %}
							<th style="max-width: 39px;" class="pl-2 pr-4">
								<input type="checkbox" class="custom-control-input" id="customCheckAll"
									   data-url="/admin/remove-multiple/celebrities">
								<label for="customCheckAll"></label>
							</th>
						{% endif %}
						<th scope="col" style="width: 42px;">
							<a data-sortable="id">ID</a>
						</th>
						<th scope="col">
							<a data-sortable="fullName">Full name</a>
						</th>
						<th scope="col">
							<a data-sortable="birthday">Birthday</a>
						</th>
						<th scope="col">
							<a data-sortable="bio">Bio</a>
						</th>
						<th scope="col" class="text-right">Actions</th>
					</tr>
					</thead>
					<tbody>
					{% for celebrity in celebrities %}
						<tr class="font-size-14">
							<td style="max-width: 32px;" class="pl-2 pr-4">
								<input type="checkbox" class="custom-control-input" id="customCheck{{ loop.index }}"
									   data-id="{{ celebrity.id }}">
								<label for="customCheck{{ loop.index }}"></label>
							</td>
							<td scope="row">{{ celebrity.id }}</td>
							<td><a href="/admin/celebrities/edit/{{ celebrity.id }}">{{ celebrity.fullName }}</a></td>
							<td>
								{% if celebrity.birthday is not null %}
									{{ celebrity.birthday | date('d. m. Y') }}
								{% else %}
									<span class="text-muted">-</span>
								{% endif %}
							</td>
							<td>{{ celebrity.bio | length > 80 ? celebrity.bio | slice(0, 80) ~ '...' : celebrity.bio }}</td>
							<td class="text-right">
								<a href="/admin/celebrities/edit/{{ celebrity.id }}"
								   class="btn btn-outline-primary btn-sm py-0"> <i
											class="fas fa-edit"></i> Edit</a>
								<a href="/admin/celebrities/delete/{{ celebrity.id }}"
								   class="btn btn-outline-danger btn-sm py-0"><i class="fas fa-trash-alt"></i> Delete</a>
							</td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
			{% endif %}

			{% include 'pagination.html.twig' %}
		</div>
	</div>
{% endblock %}