{% extends 'admin.base.html.twig' %}

{% block pageTitle %}
    <h5 class="mb-0">Change trailer order</h5>
{% endblock %}

{% block pageAction %}
    <a href="/admin/trailers/change-order" class="btn btn-primary" id="save">Save</a>
{% endblock %}

{% block body %}
    <div class="row justify-content-center">
        <div class="col-4">
            {% if trailers is not empty %}
                <ul id="sortable" style="list-style: none;">
                    {% for trailer in trailers %}
                        <li class="ui-state-default" data-id="{{ trailer.id }}">
                            <span class="ui-icon ui-icon-arrowthick-2-n-s mr-2"></span>
                            {{ trailer.title }}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
{% endblock %}