{% extends 'admin.base.html.twig' %}

{% block pageTitle %}
	<h5 class="mb-0">Edit trailer</h5>
{% endblock %}

{% block body %}
	<div class="row justify-content-center">
		<div class="col-4">
			{{ form(form) }}
		</div>
	</div>
{% endblock %}