{% extends 'admin.base.html.twig' %}

{% block pageTitle %}
	<h5 class="mb-0">Trailers <span class="text-muted">({{ count }})</span></h5>
{% endblock %}

{% block pageAction %}
	<a href="/admin/trailers/change-order" class="btn btn-secondary">Change order</a>
	<a href="/admin/trailer/add" class="btn btn-primary">
		<i class="fas fa-plus font-size-14 mr-2"></i>
		<span>New trailer</span>
	</a>
{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-12">
			{% if trailers is defined %}
				<table class="table table-borderless table-hover table-sm trailers">
					<thead>
					<tr>
						{% if trailers|length >= 1 %}
							<th style="width: 39px;" class="pl-2 pr-4 mr-0">
								<input type="checkbox" class="custom-control-input" id="customCheckAll"
									   data-url="/admin/remove-multiple/trailers">
								<label for="customCheckAll"></label>
							</th>
						{% endif %}
						<th scope="col" style="width: 42px;">ID</th>
						<th scope="col">Title</th>
						<th scope="col" class="text-right">Actions</th>
					</tr>
					</thead>
					<tbody>
					{% if trailers is empty %}
						<tr>
							<td colspan="3" class="text-center font-size-14 text-muted">No trailers found</td>
						</tr>
					{% else %}
						{% for trailer in trailers %}
							<tr class="font-size-14">
								<td style="max-width: 32px;" class="pl-2 pr-4 mr-0">
									<input type="checkbox" class="custom-control-input" id="customCheck{{ loop.index }}"
										   data-id="{{ trailer.id }}">
									<label for="customCheck{{ loop.index }}"></label>
								</td>
								<td scope="row">{{ trailer.id }}</td>
								<td scope="row">{{ trailer.title }}</td>
								<td class="text-right">
									<a href="/admin/trailers/toggle-active/{{ trailer.id }}"
									   class="btn btn-outline-secondary btn-sm py-0">

										{{ trailer.active ? "<i class='fas fa-eye-slash'></i> Hide" : "<i class='fas fa-eye'></i> Show" }}
									</a>
									<a href="/admin/trailers/edit/{{ trailer.id }}"
									   class="btn btn-outline-primary btn-sm py-0"> <i
										class="fas fa-edit mr-1"></i>Edit</a>
									<a href="/admin/trailers/delete/{{ trailer.id }}"
									   class="btn btn-outline-danger btn-sm py-0"><i
										class="fas fa-trash-alt mr-1"></i>Delete</a>
								</td>
							</tr>
						{% endfor %}
					{% endif %}
					</tbody>
				</table>
			{% endif %}

			{% include 'pagination.html.twig' %}
		</div>
	</div>
{% endblock %}