{% extends '_base.html.twig' %}

{% block title %}404 - Telecule{% endblock %}

{% block body %}
	<div class="row mt-6 justify-content-center">
		<div class="col-12 d-flex align-items-center justify-content-center flex-column mt-0 mt-lg-5">
			<h1 class="four-o-four text-center">403</h1>
			<h4 class="text-center">Access forbidden</h4>
			<a href="/" class="mt-5">Go back to homepage</a>
		</div>
	</div>
{% endblock %}