<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="apple-touch-icon" sizes="180x180" href={{ asset("favicon/apple-touch-icon.png") }}>
	<link rel="icon" type="image/png" sizes="32x32" href={{ asset("favicon/favicon-32x32.png") }}>
	<link rel="icon" type="image/png" sizes="16x16" href={{ asset("favicon/favicon-16x16.png") }}>
	<link rel="manifest" href={{ asset("favicon/site.webmanifest") }}>
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="theme-color" content="#343a40">
	<meta name="description" content="Online movie, TV Show and celebrity database created as a graduation project. It is built on Symfony and uses Bootstrap and jQuery">
	<title>{% block title %}Telecule{% endblock %}</title>

	<link rel="stylesheet" href="{{ asset("_dev/css/frontend/main.css") }}">
</head>
<body>
{% set route = app.request.attributes.get('_route') %}
{% set loggedIn = false %}

{# User states resolver #}
{% if user is not null %}
	{% set loggedIn = true %}
{% endif %}

{% if loggedIn and user.roleId in [3, 2, 5] %}
	{% set isAtLeastModerator = true %}
{% else %}
	{% set isAtLeastModerator = false %}
{% endif %}

{% if loggedIn and user.roleId in [3, 2] %}
	{% set isAtLeastAdmin = true %}
{% else %}
	{% set isAtLeastAdmin = false %}
{% endif %}

{% if loggedIn and user.roleId in [3] %}
	{% set isAtLeastSuperadmin = true %}
{% else %}
	{% set isAtLeastSuperadmin = false %}
{% endif %}

{% include "base/_menu.html.twig" %}

<div class="container page-content">
	{% include "base/flashmessages.html.twig" %}
	{% block body %}{% endblock %}
</div>

{% include "base/_footer.html.twig" %}

<script src="{{ asset("_dev/js/bundle.js") }}"></script>
<script src="{{ asset("_dev/js/frontend/search.js") }}"></script>
<script src="{{ asset("_dev/js/frontend/loadmore.js") }}"></script>
<script src="{{ asset("_dev/js/frontend/main.js") }}"></script>
</body>
</html>
