<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Admin - Telecule{% endblock %}</title>
    <link rel="apple-touch-icon" sizes="180x180" href={{ asset("favicon/apple-touch-icon.png") }}>
    <link rel="icon" type="image/png" sizes="32x32" href={{ asset("favicon/favicon-32x32.png") }}>
    <link rel="icon" type="image/png" sizes="16x16" href={{ asset("favicon/favicon-16x16.png") }}>
    <link rel="manifest" href={{ asset("favicon/site.webmanifest") }}>
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#343a40">
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('_dev/css/backend/main.css') }}">
    {% endblock %}
</head>
<body class="admin">
{% set route = app.request.attributes.get('_route') %}

{% if user.roleId in [3, 2, 5] %}
    {% set isAtLeastModerator = true %}
{% else %}
    {% set isAtLeastModerator = false %}
{% endif %}

{% if user.roleId in [3, 2] %}
    {% set isAtLeastAdmin = true %}
{% else %}
    {% set isAtLeastAdmin = false %}
{% endif %}

{% if user.roleId in [3] %}
    {% set isAtLeastSuperadmin = true %}
{% else %}
    {% set isAtLeastSuperadmin = false %}
{% endif %}

<div class="container-fluid main-wrapper">
    <div class="row align-items-stretch">
        <div class="col-2 px-0 admin-menu bg-light d-flex flex-column justify-content-between position-fixed">
            {% include 'admin/base/menu.html.twig' %}
        </div>
        <div class="offset-2 col-10 px-4">
            <div class="row py-4 border-bottom align-items-center mb-3" style="max-height: 72px;">
                <div class="col-6">
                    {% block pageTitle %}<h5 class="mb-0">Page title</h5>{% endblock %}
                </div>
                <div class="col-6 text-right">
                    <h5 class="mb-0">{% block pageAction %}{% endblock %}</h5>
                </div>
            </div>
            {% include 'base/flashmessages.html.twig' %}
            {% block body %}{% endblock %}
        </div>
    </div>
</div>

<script src="{{ asset('_dev/js/bundle.js') }}"></script>
<script src="{{ asset('_dev/js/backend/charts.js') }}"></script>
<script src="{{ asset('_dev/js/backend/form.js') }}"></script>
<script src="{{ asset('_dev/js/backend/table.js') }}"></script>
<script src="{{ asset('_dev/js/backend/search-ajax.js') }}"></script>
<script src="{{ asset('_dev/js/backend/overview.js') }}"></script>
<script src="{{ asset('_dev/js/backend/main.js') }}"></script>
</body>
</html>
