{% extends '_base.html.twig' %}

{% block title %}Licenses - Telecule{% endblock %}

{% block body %}
    <div class="row justify-content-center mt-4 mt-xl-6">
        <div class="col-6">
            <h4>Disclaimer</h4>
            <p>This project is not by any means commercial and it's only used as a graduation project. Data like movie and TV show titles titles, descriptions, genres and premiere dates were acquired via <a href="http://www.omdbapi.com/" target="_blank" rel="noreferrer">OMDb</a>. Movie and TV show posters were also downloaded using the links provided by this API. </p>
            <p>All the birthdates displayed on the website were found on the internet.</p>
            <p>Any other information or images on the website were used so that I didn't have to show the website with only placeholder images. If needed, <a href="mailto:vojtech.moravek@email.cz">contact me</a>, I'll remove the data.</p>
            <h4 class="mt-5">List of all used libraries</h4>
            <ul>
                <li><a href="https://getbootstrap.com/" target="_blank" rel="noreferrer">Bootstrap</a> – MIT License</li>
                <li><a href="http://symfony.com/" target="_blank" rel="noreferrer">Symfony</a> – MIT License</li>
                <li><a href="https://jquery.com/" target="_blank" rel="noreferrer">jQuery</a> – MIT License</li>
                <li><a href="https://jqueryui.com/" target="_blank" rel="noreferrer">jQuery UI</a> – CC0 1.0</li>
                <li><a href="https://fancyapps.com/fancybox/3/" target="_blank" rel="noreferrer">Fancybox</a> – GPL-3.0</li>
                <li><a href="http://asvd.github.io/dragscroll/" target="_blank" rel="noreferrer">Drag and scroll</a> – MIT License</li>
                <li><a href="https://fengyuanchen.github.io/datepicker/" target="_blank" rel="noreferrer">Datepicker</a> – MIT License</li>
                <li><a href="http://touchpunch.furf.com/" target="_blank" rel="noreferrer">Touch punch</a> – MIT License</li>
                <li><a href="https://github.com/aFarkas/lazysizes/" target="_blank" rel="noreferrer">Lazysizes</a> – MIT License</li>
                <li><a href="https://developer.snapappointments.com/bootstrap-select/examples/" target="_blank" rel="noreferrer">Bootstrap select</a> – MIT License</li>
                <li><a href="https://underscorejs.org/" target="_blank" rel="noreferrer">Underscore</a> – MIT License</li>
                <li><a href="https://fontawesome.com/" target="_blank" rel="noreferrer">Fontawesome</a> – CC BY 4.0</li>
                <li><a href="http://www.omdbapi.com/" target="_blank" rel="noreferrer">OMDb</a> – CC BY-NC 4.0</li>
                <li><a href="https://github.com/gumlet/php-image-resize/" target="_blank" rel="noreferrer">Gumlet Image Resize</a> – MIT License</li>
            </ul>
        </div>
    </div>
{% endblock %}