{% if pages is not null %}
	{% if lastPage != 1 %}
		<div class="pagination d-flex mb-5">
			<ul class="pagination mb-0 mr-2">
				<li class="page-item {{ currentPage == 1 ? "disabled" }}">
					<a href="{{ url }}?page=1{{ perPage is not null ? "&perPage=" ~ perPage }}" class="page-link">
						<i class="fas fa-angle-double-left"></i>
					</a>
				</li>
			</ul>
			<ul class="pagination mb-0">
				<li class="page-item {{ currentPage == 1 ? "disabled" }}">
					<a class="page-link bg-light" href="{{ url }}?page={{ currentPage-1 }}{{ perPage is not null ? "&perPage=" ~ perPage }}">
						<i class="fas fa-angle-left"></i>
					</a>
				</li>
				{% for page in pages %}
					<li class="page-item {{ page == currentPage ? "active" }}">
						<a class="page-link" href="{{ url }}?page={{ page }}{{ perPage is not null ? "&perPage="  ~ perPage}}">{{ page }}</a>
					</li>
				{% endfor %}
				<li class="page-item {{ currentPage == lastPage ? "disabled" }}">
					<a class="page-link bg-light" href="{{ url }}?page={{ currentPage+1 }}{{ perPage is not null ? "&perPage="  ~ perPage}}">
						<i class="fas fa-angle-right"></i>
					</a>
				</li>
			</ul>
			<ul class="pagination mb-0 ml-2">
				<li class="page-item {{ currentPage == lastPage ? "disabled" }}">
					<a href="{{ url }}?page={{ lastPage }}{{ perPage is not null ? "&perPage=" ~ perPage}}" class="page-link">
						<i class="fas fa-angle-double-right"></i>
					</a>
				</li>
			</ul>
			<form method="get" class="d-flex align-items-center ml-3">
				<label class="mb-0 mr-2 text-muted" for="perPage" style="white-space: nowrap;">Display per page:</label>
				<select name="perPage" id="perPage" class="form-control form-control-sm" onchange="this.form.submit()">
					<option value="5" {{ perPage == 5 ? "selected" }}>5</option>
					<option value="10" {{ perPage == 10 ? "selected" }}>10</option>
					<option value="20" {{ perPage == 20 ? "selected" }}>20</option>
					<option value="50" {{ perPage == 50 ? "selected" }}>50</option>
					<option value="100" {{ perPage == 100 ? "selected" }}>100</option>
					{% if perPage not in [5, 10, 20, 50, 100] %}
						<option value="{{ perPage }}" selected>{{ perPage }}</option>
					{% endif %}
				</select>
				<noscript><input type="submit" value="Submit"></noscript>
			</form>

			<form method="get" class="d-flex align-items-center ml-3">
				<label class="mb-0 mr-2 text-muted" for="page" style="white-space: nowrap;">Page:</label>
				<select name="page" id="page" class="form-control form-control-sm" onchange="this.form.submit()">
					{% for page in 1..lastPage %}
						<option value="{{ page }}" {{ page == currentPage ? "selected" }}>{{ page }}</option>
					{% endfor %}
				</select>

				<input type="hidden" name="perPage" value="{{ perPage }}">
				<noscript><input type="submit" value="Submit"></noscript>
			</form>
		</div>
	{% endif %}
{% endif %}