<div class="row mt-5 mt-xl-6 justify-content-center">
	<div class="col-12 col-md-8 col-xl-6 complaint-form">
		{{ form_start(form) }}
			<h4 class="mb-3 text-center">Help us (me) make Telecule better!</h4>
			<h6 class="mb-4 text-center text-muted">Let us know if you experience any troubles while using Telecule</h6>
		{{ form_end(form) }}
	</div>
</div>