<div class="row mt-5">
	<div class="col-12 col-md-6 col-lg-4">
		{% include "homepage/parts/lists/born_this_month.html.twig" %}
	</div>
	<div class="col-12 col-md-6 col-lg-4 mt-5 mt-md-0">
		{% include "homepage/parts/lists/in_cinemas.html.twig" %}
	</div>
	<div class="col-12 col-md-12 col-lg-4 mt-5 mt-lg-0">
		{% include "homepage/parts/lists/newest_user_reviews.html.twig" %}
	</div>
</div>