<div class="row row mt-5">
	<div class="col-12">
		<h4 class="{{ maxVisits < 1 ? "mb-2" : "mb-3" }}">Most popular</h4>
		{% if maxVisits < 1 %}
			<h6 class="text-muted mb-3">No movies or TV Shows have been visited this month yet, showing recently added
				instead</h6>
		{% endif %}
		<div class="table-rounded-wrapper table-responsive-xl">
			<table class="table table-custom table-hover">
				<thead>
				<tr>
					<th>Title</th>
					<th>Premiere</th>
					<th>Genres</th>
					<th class="text-right">Visits</th>
					<th class="text-right">Rating</th>
				</tr>
				</thead>
				<tbody>
				{% for movieOrTvShow in popularMoviesAndTvShows %}
					{% set type = movieOrTvShow.type %}
					{% if type == "movie" %}
						{% set typeReadable = "Movie" %}
					{% else %}
						{% set type = "tv-show" %}
						{% set typeReadable = "TV Show" %}
					{% endif %}

					<tr>
						<td><a href="/{{ type }}/{{ movieOrTvShow.slug }}">{{ movieOrTvShow.title }} <span
								class="text-muted font-size-14">({{ typeReadable }})</span></a></td>
						<td>{{ movieOrTvShow.premiere | date("d. m. Y") }}</td>
						<td>
							{% if movieOrTvShow.genres is not empty %}
								{{ movieOrTvShow.genres | join(", ") }}
							{% else %}
								<span class="text-muted">No assigned genres</span>
							{% endif %}
						</td>
						<td class="text-right">{{ movieOrTvShow.visits }}</td>
						{% if movieOrTvShow.rating is not null %}
							<td
							class="text-right {% if movieOrTvShow.rating >= 9 %}rating-great{% elseif movieOrTvShow.rating >= 6 %}rating-good{% elseif movieOrTvShow.rating < 6 and movieOrTvShow.rating is not null %}rating-average{% endif %}">
								<i class="fas fa-star rating-icon"></i>
								{{ movieOrTvShow.rating }}
							</td>
						{% else %}
							<td class="text-right">
								<span class="text-muted">NYR</span>
							</td>
						{% endif %}
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
		<span class="table-note">* NYR - Not yet rated</span>
	</div>
</div>
