<div class="row mt-5">
	<div class="col-12">
		<h4 class="mb-3">New trailers</h4>
		<div id="carousel-trailers" class="carousel slide" data-ride="carousel">
			<ol class="carousel-indicators">
				{% for trailer in trailers %}
					<li data-target="#carousel-trailers"
					    data-slide-to="{{ loop.index-1 }}" {{ loop.index-1 == 0 ? "class='active'" }}></li>
				{% endfor %}
			</ol>
			<div class="carousel-inner">
				{% for trailer in trailers %}
					<a data-fancybox href="{{ trailer.url }}" class="carousel-item {{ loop.index-1 == 0 ? 'active' }}">
						<img class="d-block w-100" src="{{ asset("uploads/trailers/normal/" ~ trailer.thumbnail) }}"
						     alt="{{ trailer.thumbnail }}">
						<div class="carousel-caption">
							<h4>{{ trailer.title }}</h4>
						</div>
					</a>
				{% endfor %}
			</div>
			<a class="carousel-control-prev" href="#carousel-trailers" role="button" data-slide="prev">
				<i class="fas fa-chevron-left" style="font-size: 24px;"></i>
				<span class="sr-only">Previous</span>
			</a>
			<a class="carousel-control-next" href="#carousel-trailers" role="button" data-slide="next">
				<i class="fas fa-chevron-right" style="font-size: 24px;"></i>
				<span class="sr-only">Next</span>
			</a>
		</div>
	</div>
</div>