{% extends 'admin.base.html.twig' %}

{% block pageTitle %}
	<h5 class="mb-0">OMDb</h5>
{% endblock %}

{% block body %}
	<div class="row justify-content-center">
		<div class="col-5">
			{{ form(form) }}
			{% if search is not null %}
				<div class="mt-5">
					<h4>Results</h4>
					<div class="list-group">
						{% for result in search %}
							<a href="/omdb/add/{{ result.imdbId }}" class="list-group-item">
								{{ result.title }} <span class="text-muted">({{ result.year }})</span>
							</a>
						{% endfor %}
					</div>
				</div>
			{% endif %}
		</div>
	</div>
{% endblock %}
