{% extends 'admin.base.html.twig' %}

{% block pageTitle %}
    <h5 class="mb-0">Change homepage recommendations order</h5>
{% endblock %}

{% block pageAction %}
    <a href="/admin/homepage-recommendations/change-order" class="btn btn-primary" id="save">Save</a>
{% endblock %}

{% block body %}
    <div class="row justify-content-center">
        <div class="col-4">
            {% if recommendations is not empty %}
                <ul id="sortable" style="list-style: none;">
                    {% for recommendation in recommendations %}
                        <li class="ui-state-default" data-id="{{ recommendation.id }}">
                            <span class="ui-icon ui-icon-arrowthick-2-n-s mr-2"></span>
                            <img src="{{ asset('uploads/movies/small/thumbnail.jpeg') }}" class="lazyload rounded mr-3" alt="{{ recommendation.movieOrTvShow.title }}" data-src="{{ asset('uploads/movies/small/' ~ recommendation.movieOrTvShow.thumbnail) }}" style="max-height: 48px;">
                            {{ recommendation.movieOrTvShow.title }}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
{% endblock %}