{% extends 'admin.base.html.twig' %}

{% block pageTitle %}
    <h5 class="mb-0">Homepage recommendations <span class="text-muted">({{ count }})</span></h5>
{% endblock %}

{% block pageAction %}
    <a href="/admin/homepage-recommendations/change-order" class="btn btn-secondary">Change order</a>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            {% if recommendations is defined %}
                <table class="table table-borderless table-hover table-sm">
                    <thead>
                    <tr>
                        {% if recommendations|length >= 1 %}
                            <th style="width: 39px;" class="pl-2 pr-4 mr-0">
                                <input type="checkbox" class="custom-control-input" id="customCheckAll"
                                       data-url="/admin/remove-multiple/homepage-recommendations">
                                <label for="customCheckAll"></label>
                            </th>
                        {% endif %}
                        <th scope="col" style="width: 42px;">ID</th>
                        <th scope="col">Title</th>
                        <th scope="col" class="text-right">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if recommendations is empty %}
                        <tr>
                            <td colspan="3" class="text-center font-size-14 text-muted">No trailers found</td>
                        </tr>
                    {% else %}
                        {% for recommendation in recommendations %}
                            <tr class="font-size-14">
                                <td style="max-width: 32px;" class="pl-2 pr-4 mr-0">
                                    <input type="checkbox" class="custom-control-input" id="customCheck{{ loop.index }}"
                                           data-id="{{ recommendation.id }}">
                                    <label for="customCheck{{ loop.index }}"></label>
                                </td>
                                <td scope="row">{{ recommendation.id }}</td>
                                <td scope="row">{{ recommendation.movieOrTvShow.title }}</td>
                                <td class="text-right">
                                    <a href="/admin/homepage-recommendations/delete/{{ recommendation.id }}"
                                       class="btn btn-outline-danger btn-sm py-0">
                                        <i class="fas fa-trash-alt"></i> Delete
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                    </tbody>
                </table>
            {% endif %}

            {% include 'pagination.html.twig' %}
        </div>
    </div>
{% endblock %}