{% extends '_base.html.twig' %}

{% block title %}Change password - Telecule{% endblock %}

{% block body %}
	<div class="row justify-content-center mt-4 mt-lg-5">
		<div class="col-12 col-md-8 col-xl-5">
			<h4 class="mb-3">Change password {% if user_ is defined %}{{ 'for user ' ~ user_.username }}{% endif %}</h4>
			{{ form(form) }}
		</div>
	</div>
{% endblock %}