{% extends '_base.html.twig' %}

{% block title %}Edit my info - Telecule{% endblock %}

{% block body %}
	<div class="row justify-content-center mt-4 mt-lg-5">
		<div class="col-12 col-md-8 col-xl-5">
			<h4 class="mb-3">Edit my info</h4>
			<p class="mb-4 text-muted">Want to change some of your info? Go ahead!</p>
			{{ form(form) }}
		</div>
	</div>
{% endblock %}