{% extends '_base.html.twig' %}

{% block title %}Log in - Telecule{% endblock %}

{% block body %}
	<div class="row justify-content-center mt-4 mt-lg-5">
		<div class="col-12 col-md-8 col-xl-5">
			<h4>Log in</h4>
			<p class="mb-4 text-muted">Log in to your account</p>
			{{ form_start(form) }}
			{{ form_row(form.emailAddress) }}
			{{ form_row(form.password) }}
			<div class="d-flex align-items-center">
				{{ form_widget(form.submit) }}
				<a href="/forgotten-password" class="ml-3 text-muted">Forgotten password?</a>
			</div>
			{{ form_end(form) }}
			<p class="mt-4 text-center text-muted">Don't have an account? <a href="/signup">Sign up!</a></p>
		</div>
	</div>
{% endblock %}