{% extends '_base.html.twig' %}

{% block title %}
	{% if userSearch != NULL %}
		{{ userSearch.username }} - Telecule
	{% else %}
		User not found - Telecule
	{% endif %}
{% endblock %}

{% block body %}
	<div class="row justify-content-center mt-4 mt-lg-5">
		<div class="col-12 col-sm-10 col-md-8 col-lg-6">
			{% if userSearch != NULL %}
				{% if isAtLeastSuperadmin %}
					<a href="/admin/user/edit/{{ userSearch.id }}">Edit</a>
				{% endif %}
				<div class="card b-0 shadow-1 radius-6">
					<div
					class="card-header d-flex align-items-center py-4 bg-white {{ userSearch.bio is null ? "border-bottom-0" }}">
						<img class="lazyload card-img-top rounded-circle" style="max-width: 64px;"
						     data-src="{{ asset('uploads/user/small/' ~ userSearch.profilePicture) }}"
						     src="{{ asset('uploads/user/small/thumbnail.jpeg') }}"
						     alt="{{ userSearch.profilePicture }}">
						<div class="ml-3">
							<h5 class="card-title">{{ userSearch.fullName }}</h5>
							<h6 class="card-subtitle text-muted">{{ userSearch.username }}</h6>
						</div>
						{% if user and userSearch.id == user.id %}
							<div class="change-password ml-auto"><a href="/user/change-password"><i class="fas fa-lock"></i></a></div>
							<div class="edit ml-3"><a href="/user/edit"><i class="fas fa-edit"></i></a></div>
						{% endif %}
					</div>
					{% if userSearch.bio is not null %}
						<div class="card-body">
							<p class="m-0">{{ userSearch.bio }}</p>
						</div>
					{% endif %}
				</div>
				<div class="user-reviews mt-5">
					<h4 class="{{ userSearch.reviews.count > 5 ? "mb-2" : "mb-3" }}">Reviewed movies</h4>
					{% if userSearch.reviews.count < 1 %}
						<h6 class="text-muted">This celebrity is not assigned to any movies</h6>
					{% else %}
						<div class="reviews-wrapper">
							{% for review in userSearch.reviews | slice(0, 5) %}
								{% set urlType = "movie" %}
								{% set fileUrlType = "movies" %}

								{% if review.movieOrTvShow.type == "tv_show" %}
									{% set urlType = "tv-show" %}
									{% set fileUrlType = "tvshows" %}
								{% endif %}

								<a class="card search-result-card mb-2"
								   href="/{{ urlType }}/{{ review.movieOrTvShow.slug }}?highlightedReview={{ review.user.username }}">
									<div class="card-image">
										<img
										data-src="{{ asset('uploads/' ~ fileUrlType ~ '/small/' ~ review.movieOrTvShow.thumbnail) }}"
										src="{{ asset('uploads/' ~ fileUrlType ~ '/small/thumbnail.jpeg') }}"
										alt="{{ review.movieOrTvShow.thumbnail }}" class="lazyload">
									</div>
									<div class="card-content">
										<h5 class="text-primary mb-1">{{ review.movieOrTvShow.title }}</h5>
										<p>{{ review.body }}</p>
									</div>
								</a>
							{% endfor %}
						</div>
					{% endif %}
					{% if userSearch.reviews.count > 5 %}
						<div class="text-center mt-3">
							<a href="/user/{{ userSearch.username }}/load-more" class="text-center load-more load-more-reviews"><i
								class="fas fa-plus text-small"></i> Load more</a>
						</div>
					{% endif %}
				</div>
			{% else %}
				<div class="alert alert-danger">User {{ requestedUser }} was not found</div>
			{% endif %}
		</div>
	</div>
{% endblock %}