{% extends '_base.html.twig' %}

{% block title %}Sign up - Telecule{% endblock %}

{% block body %}
	<div class="row justify-content-center mt-4 mt-lg-5">
		<div class="col-12 col-md-8 col-xl-5">
			<h4>Sign up</h4>
			<p class="mb-4 text-muted">Sign in to become a part of our community</p>
			{{ form(form) }}
			<p class="mt-4 text-center text-muted">Already have an account? <a href="/login">Log in!</a></p>
		</div>
	</div>
{% endblock %}