<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
	      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Password reset</title>

	<style>
		*, ::after, ::before {
			box-sizing: border-box;
			font-family: Arial;
		}

		h5 {
			font-size: 1.25rem;
		}

		.container-fluid {
			width: 100%;
			padding-right: 15px;
			padding-left: 15px;
			margin-right: auto;
			margin-left: auto;
		}

		.col-12 {
			-ms-flex: 0 0 100%;
			flex: 0 0 100%;
			max-width: 100%;
		}

		.row {
			display: -ms-flexbox;
			display: flex;
			-ms-flex-wrap: wrap;
			flex-wrap: wrap;
			margin-right: -15px;
			margin-left: -15px;
		}

		.mt-5 {
			margin-top: 3rem!important;
		}

		.text-small {
			font-size: 12px;
		}

		.d-flex {
			display: -ms-flexbox!important;
			display: flex!important;
		}

		.justify-content-center {
			-ms-flex-pack: center!important;
			justify-content: center!important;
		}

		.pl-5, .px-5 {
			padding-left: 3rem!important;
		}

		.mt-3, .my-3 {
			margin-top: 1rem!important;
		}

		.mt-4, .my-4 {
			margin-top: 1.5rem!important;
		}

		.btn {
			display: inline-block;
			font-weight: 400;
			color: #212529;
			text-align: center;
			vertical-align: middle;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
			background-color: transparent;
			border: 1px solid transparent;
			padding: .375rem .75rem;
			font-size: 1rem;
			line-height: 1.5;
			border-radius: .25rem;
			transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
		}

		a {
			color: #007bff;
			text-decoration: none;
			background-color: transparent;
		}

		.btn-primary {
			color: #fff;
			background-color: #007bff;
			border-color: #007bff;
		}

		.btn:not(:disabled):not(.disabled) {
			cursor: pointer;
		}

		.text-muted {
			color: #6c757d!important;
		}

		.mb-0, .my-0 {
			margin-bottom: 0!important;
		}
	</style>
</head>
<body>
<div class="container-fluid">
	<div class="row mt-5 d-flex justify-content-center">
		<div class="col-12 px-5">
			<h5 style="font-weight: bold;">Hello, {{ user_.username }}!</h5>
			<p class="mt-3">You got this email because we received a password reset request for your account.</p>
			<p class="mt-4">If you requested the password reset, proceed by clicking the button.</p>
			<a href="http://moravevo.mp.spse-net.cz/reset-password/{{ verificationCode }}" class="btn btn-primary" target="_blank">Reset password</a>
			<p class="mt-5 text-muted">If you did not request the password reset, just ignore this message.</p>
			<hr>
			<p class="text-small mb-0">If you're having trouble clicking the "Reset password" button, try using the link below. If this doesn't work as well, try copying the link into the URL bar in your browser.</p>
			<a href="http://moravevo.mp.spse-net.cz/reset-password/{{ verificationCode }}" class="text-small" target="_blank">http://moravevo.mp.spse-net.cz/reset-password/{{ verificationCode }}</a>
		</div>
	</div>
</div>
</body>
</html>